 # Python :
     => developed on 1989 and released 1991 the author name is guido von rossum
     => highlevel programming language(a programming language can do lot of work in few lines of code)
     => easy syntax language
     => dynamically typed programming launguage
     => interpretted programming language(line by line execution when the runtime)
     => platform independent
     => open source & large community support it is having
     => embedded programming language()

# What Are Comments
    comments are lines of code that are ignored by the interpretter(python console)
    => explain code: by putting notes we make our code more readable
    => provide the information about the purpose of a function, class, or module
    => debug code: temproarily disable parts which causes the  isolate issues and resolve it

    => Single line comments-- using the # we create single line comment(your interpretter won't execute the code or the lines which comes after #)
    => Documentation String: """ """  used for longer explanations or documentation

In [4]:
# print -- used to display results on the output console mainly used for debugging

print("hello world")
print(4+6)

hello world
10

In [8]:
print("hello world 'dr' " )

hello world 'dr'

In [9]:
"print('hello world')"
print("4+7")

4+7

In [65]:
# print("hello world")

In [5]:
"""
print("hello world")
this is a 
multiline comment
also known as
documentation
"""

'\nprint("hello world")\nthis is a \nmultiline comment\nalso known as\ndocumentation\n'

# Variables 
    used to store values they act like a container or a pointer for storing or pointing the data which can be called and handled through out the program

In [4]:
a = 8  # = -- used to assign a value to the variable
a

8

# Rules to Define a Variable

1. a varible can start with lower or upper case or underscores
2. a variable should not start with an integer
3. a variable should not contain any special chr
4. Keywords(reserved words) should not be used as variable--(because keywords already have meant to do  some tasks we cannot override and assign a new value to them)
5. Variables are case sensitive

In [67]:
apple = 90
apple

90

In [10]:
1apple = 45  # we cannot assign a value to a value

SyntaxError: invalid decimal literal (1268242232.py, line 1)

In [11]:
app2le = 90
app2le

90

In [12]:
8

8

In [13]:
#but a variable can contain a number
apple1 = 45
apple1

45

In [14]:
!apple = 9

'apple' is not recognized as an internal or external command,
operable program or batch file.

In [15]:
apple$ = 8

SyntaxError: invalid syntax (2789973044.py, line 1)

In [16]:
appl@le = 5

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3061897784.py, line 1)

In [16]:
and = 90

SyntaxError: invalid syntax (4067504639.py, line 1)

In [17]:
for = 70

SyntaxError: invalid syntax (852527186.py, line 1)

In [17]:
Orange = 67
orange

NameError: name 'orange' is not defined

In [19]:
Orange

67

In [19]:
# snake case
#apple juice = 70  # wrong syntax
apple_juice = 70
apple_juice

70

In [20]:
# Python 101

__cherry = 90  # intimating another python programmer to consider this var as private var
__cherry

90

In [21]:
APPLE = 90  # intimating another python programmer to consider this var as constant
APPLE

90

In [74]:
a = 90

a = 56
print(a)

56

# data types
    => Integer -- Integer, Binary, Octal, Hexa decimal
    => String -- "", '', """ """
    => Boolean -- True, False
    => Float -- a number with decimal
    => None -- to express null 
    => Complex -- a real along imaginary

In [23]:
#Integer family
# number
a = 8
a

8

In [24]:
# to create binary version of a integer we use "0b" or "0B"
b = 0b101
b

5

In [25]:
#to create octal version of a integer we use "0o" or "0O"

c = 0o7012
c

3594

In [26]:
#to create hexa decimal version of a integer we use "0x" or "0X"
d = 0x19aef
d

105199

In [15]:
# string -- anything we put under quotes is a string

str1 = "8"
str1

'8'

In [16]:
str2 = 'hello world'
str2

'hello world'

In [17]:
str1+str2

'8hello world'

In [18]:
8+"hello world"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
str3 = "hello mr. 'Robert' welcome"
str3

"hello mr. 'Robert' welcome"

In [30]:
str4 = """
this is a
 multi line string
 in python convention"""
print(str4)

this is a
 multi line string
 in python convention

In [ ]:
a = """
    if we create 
    multiline string and if
    we assign it into
    a var we call it as 
    multi line string
    if we didn't assigned into var
    its known as documentation string
    """
print(a)

In [31]:
b1 = True  # when we compare any value with True it will check if the value type is true or not
b1

True

In [32]:
b2 = False  #false values in python -- 0,None, False,'', "", """""",{},[],()
b2

False

In [33]:
f1 = 8.92345
f1

8.92345

In [34]:
round(f1,2)

8.92

In [35]:
0

0

In [36]:
None  # complete emptiness

In [ ]:
b = 5

In [71]:
c1 = 4 +5j  # to create imag we use "j"
c1.real

4.0

In [72]:
c1.imag

5.0

In [70]:
c1

(4+5j)

In [41]:
# type -- returns the type of object
type(4)

int

In [42]:
type(0b010)

int

In [43]:
type(0o3461)

int

In [44]:
type(0xaf92)

int

In [45]:
type("67")

str

In [37]:
type("python")

str

In [33]:
print(6+4)

10

In [34]:
"print(6+4)"

'print(6+4)'

In [48]:
type(True)

bool

In [49]:
type(False)

bool

In [50]:
type(8.92355)

float

In [51]:
type(None)

NoneType

In [52]:
type(9j)

complex

In [53]:
a = 89
type(a)

int

In [73]:
# Type conversion -- Type casting -- converting one type object into another type
# actions or methods -- that changes the original var object or value we call that mutable method else 
# when we perform any method on a var that did not change the original var value or object we call them as immutable methods

a = 9

bin(a)  #binary version nine it will return but it is a immutable

'0b100'

In [42]:
a

9

In [55]:
oct(a)

'0o11'

In [56]:
hex(a)

'0x9'

In [57]:
str(a)

'9'

In [58]:
bool(a)

True

In [59]:
float(a)

9.0

In [60]:
complex(a)

(9+0j)

In [61]:
b = 9.2345
int(b)

9

In [43]:
a = "python"
bin(a) #oct, hex, int, float, complex -- these keys only works on the numerical datas

TypeError: 'str' object cannot be interpreted as an integer

In [44]:
bool(a)

True

In [45]:
a = 9.45
bin(a) #oct, hex --- a integer mean values only supports

TypeError: 'float' object cannot be interpreted as an integer

In [46]:
complex(a)

(9.45+0j)

In [47]:
bool(a)

True

In [ ]:
# True, 4+5j -- bin, oct, hex,int, str, bool, float, complex

In [48]:
a = "99"
int(a)

99

In [49]:
bin(a)

TypeError: 'str' object cannot be interpreted as an integer

# indexing slicing
    we can perform indexing(single data access based on the position) and slicing(start:stop) position based access on only sequences
    => indexing will work on the ordered sequences because unordered sequences does not have the position

    => Positive Indexing -- starts from "0" , start - end(left to right)
    => Negative Indexing -- starts from "-1" , end - start(right to left)

In [75]:
a = "HelloWorld"
a[7]  # pos base data access

'r'

In [76]:
a[1000]

IndexError: string index out of range

In [77]:
a[-5]

'W'

In [8]:
a[-1000]

IndexError: string index out of range

In [81]:
a = "HelloWorld"  # if there is duplicates . it will return first occurance pos
print(a.index("l"))
print("hello world")

2
hello world

In [79]:
# seqobj.index("data") -- if the data exists it will return the pos of the data from the seq else it will raise error if the data not found

In [82]:
a = "HelloWorld"
a.index("z")

print("hello world")

ValueError: substring not found

In [83]:
print("hello world")  # interpretted programming language
a = "HelloWorld"
a.index("z")

hello world

ValueError: substring not found

In [87]:
a = "HelloWorld"
print(a.find("W"))

print("hello world")

5
hello world

In [89]:
a = "HelloWorld"
print(a.find("z"))
print("hello world")

-1
hello world

In [90]:
a = "HelloWorld"
# slicing is used to fetch the part of a sequence by giving the start: stop pos

a[1:3]

'el'

In [13]:
a[-5:-1] # seqobj[start:stop]

'Worl'

In [14]:
a = "HelloWorld"
a[5:] #if we did not provide the ending it will till the end of the sequence

'World'

In [91]:
a = "HelloWorld"
a[:5] # if we did not give the start by default it will start from 0

'Hello'

In [17]:
a = "Hello World"  #0,1,2,3,4,5,6,7 -- 0,2,4,6 (these pos datas only it will return)
a[0:8:2]  #seq[start:stop:step]

'HloW'

In [18]:
a = "Hello World"
a[::2]

'HloWrd'

In [19]:
a[::]

'Hello World'

In [20]:
a[::-1]  # returning the reversed(miror) vesrion of the sequence

'dlroW olleH'

In [21]:
a[::-2]

'drWolH'

# input
    will take the input from the user as string

In [107]:
a = input("enter a value")
type(a)

enter a value 78

str

In [108]:
a+23

TypeError: can only concatenate str (not "int") to str

In [110]:
#using the type conversion
val1 = int(input("enter val 1"))
val2 = int(input("enter val 2"))
val1+val2

enter val 1 9.5

ValueError: invalid literal for int() with base 10: '9.5'

In [26]:
val1 = int(input("enter val 1"))
val2 = int(input("enter val 2"))
val1+val2

enter val 1 34
enter val 2 6.3

ValueError: invalid literal for int() with base 10: '6.3'

In [27]:
"print(4+2+8)"

'print(4+2+8)'

In [111]:
eval("print(4+2+8)")  # converts the string into an python expression

14

In [117]:
val1 = eval(input("enter val 1"))
val2 = eval(input("enter val 2"))
val1+val2

enter val 1 40
enter val 2 5

45

# string formatting
    while defining a string in some places at the moment the values if we don't know we can use some place holders later part we can replace them with actual string

In [118]:
fruit_juice = input("enter the fruit juice you want ")
ice = eval(input("how many ice cubes you want"))
qty = eval(input("how much you want"))

print("the choosed juice is %s with number of ice cubes are %d qty is %f "%(fruit_juice,ice,qty))

enter the fruit juice you want  "grape"
how many ice cubes you want 3
how much you want 5.6

the choosed juice is "grape" with number of ice cubes are 3 qty is 5.600000

In [121]:
fruit_juice = input("enter the fruit juice you want ")
ice = eval(input("how many ice cubes you want"))
qty = eval(input("how much you want"))

print("the choosed juice is {} with number of ice cubes are {} qty is {} ".format(fruit_juice,ice,qty))

enter the fruit juice you want  grape
how many ice cubes you want 8
how much you want 4

the choosed juice is grape with number of ice cubes are 8 qty is 4

In [122]:
fruit_juice = input("enter the fruit juice you want ")
ice = eval(input("how many ice cubes you want"))
qty = eval(input("how much you want enter in ml"))

print(f"the choosed juice is {fruit_juice} with number of ice cubes are {ice*2} qty is {qty/1000} ")

enter the fruit juice you want  apple
how many ice cubes you want 1
how much you want enter in ml 760

the choosed juice is apple with number of ice cubes are 2 qty is 0.76

# Operators:
    => Arithmetic --7
    => Assignment-- 7 
    => comparison -- 6
    => logical -- 3
    => identical --2
    => membership --2
    => bitwise -- 6
        total around 7 families of operators and 33 operators

In [123]:
# arithmetic operators -- immutable operators-- a operator that does not change operand var origin value is called immutable operator
a = 5
b = 4
c = a+b
c

9

In [129]:
a = "hello"
b = "world"
a+b

'helloworld'

In [131]:
a = 5
b = 4

a

5

In [132]:
b

4

In [133]:
a - b

1

In [134]:
a * b

20

In [135]:
a / b

1.25

In [136]:
a%b

1

In [137]:
a ** 2

25

In [138]:
a // b

1

In [139]:
a

5

In [140]:
b

4

In [141]:
# assignment operators -- mutable operators -- that modifies the operand's(variable) origin value
a = 4

a += 2  # a = a+2
a

6

In [142]:
a -= 3
a

3

In [143]:
a *= 4
a

12

In [144]:
a /= 2
a

6.0

In [145]:
a **= 2
a

36.0

In [146]:
a //= 5
a

7.0

In [147]:
a %= 4
a

3.0

In [148]:
# comparison operators -- always returns boolean results -- immutable operators

a = 4
b = 2

a > b

True

In [149]:
a < b

False

In [150]:
a >= b

True

In [151]:
a <= b

False

In [152]:
a == b # value wise if both values are equal we get True

False

In [153]:
a != b # value wise if both values are not equal we get True

True

In [154]:
a

4

In [155]:
b

2

In [156]:
a = "hello"  # when you compare two seq it will compare first elements of the seq's
b = "world"
a > b

False

In [157]:
ord("h")  # ascii value of h

104

In [158]:
ord("w")

119

In [1]:
# logical operators -- every args we put on and gate is true it will retrun last true value - it won't boolean result

3 and "hello" and 4.5

4.5

In [2]:
3 and [] and True and None  # if any values are false it will return first false value

[]

In [5]:
# short circuiting -- based one args operator returns the result we call it as short cicuiting
0 and 4 and 89 and True

0

In [3]:
# or -  if every args we pass on "or" is false we get last false value
[] or "" or 0

0

In [4]:
[] or 3 or 0 or 99 # if any args true it will return first true value

3

In [6]:
4 or None or 0 or ""

4

In [31]:
not 3  # will return the opposite result given args boolean version

False

In [8]:
a = "indian"
if not a:
    print("not eligible")
else:
    print("eligible")

eligible

<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\pugal\AppData\Local\Temp\ipykernel_13204\3011350048.py:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if a is not "indian":

In [7]:
not ""

True

In [9]:
# identical operators, is, is not

a = [3, 4]  # list is mutable ds
b = [3, 4]
a == b  # only compares the value

True

In [10]:
a is b  # only compares the memory

False

In [11]:
a is not b

True

In [35]:
id(a)

2238038331584

In [36]:
id(b)

2238061459456

In [14]:
t1 = (5,3,9) # immutable
t2 = (5,3,9)

print(id(t1))
print(id(t2))
print(t1 is t2)
print(t1 == t2)

1749112528064
1749112237760
False
True

In [ ]:
# when we store a dtype in python it will store in only one memory no matter how many var name we give
# they point the same address but data structre even though ifthey have same value they will get stored in
# different addresses

In [12]:
a = 8
b = 8
print(id(a))
print(id(b))

140733173457928
140733173457928

In [38]:
a is b

True

In [39]:
a is not b

False

In [40]:
# membership operators -- this can be only performeble on a seq
a = "Python"
"t" in a

True

In [41]:
"z" in a

False

In [42]:
"y" not in a

False

In [75]:
# bitwise operators -- perform operations on bit level(binary version)

print(bin(5))
print(bin(6))

0b101
0b110

In [76]:
print(5 & 6)
"""
101 -- 5
110 -- 6
------
100
---
"""
print(int(0b100))

4
4

In [77]:
print(5 | 6)
"""
101 -- 5
110 -- 6
------
111
---
"""
print(int(0b111))

7
7

In [78]:
print(5 ^ 6)
"""
# if every value same. output will be false 
101 -- 5
110 -- 6
------
011
---
"""
print(int(0b11))

3
3

In [79]:
# bitwise not -- (-n-1)
~5

-6

In [80]:
~-5

4

In [81]:
# right shift -- removes last specified bits
print(9 >> 2)
"""
1001

10
"""
print(int(0b10))

2
2

In [83]:
# left shift -- add 0 bits in the end
print(4 << 2)
"""
100

10000
"""
print(int(0b10000))

16
16

# data structures -- 
    used to store n number of elements in a variable
    => List -- Mutable(Modifyable), Ordered(pos base ops),  allow duplicates, hetrogeneous)
    => Tuple-- IMMutable(cannot Modifyable), Ordered(pos base ops),  allow duplicates, hetrogeneous)
    => Dictionary-- Mutable(Modifyable), unOrdered(pos base ops), not allow duplicates, hetrogeneous)
    => Set-- Mutable(Modifyable), unOrdered(pos base ops),  not allow duplicates, hetrogeneous)
    => Range-- IMMutable(Modifyable), Ordered(pos base ops),  allow duplicates, homogeneous)


It an entity that store data

In [84]:
#List -- Mutable(Modifyable), Ordered(pos base ops),  allow duplicates, hetrogeneous)

# to create a list we use []

l1 = [3,2.3,True, "Hello", 3]
l1

[3, 2.3, True, 'Hello', 3]

In [85]:
l1[2]

True

In [86]:
l1[1: 3]

[2.3, True]

In [87]:
# pos based update
l1 = [5,2,9,12,89]
l1[2] = "hello"
l1

[5, 2, 'hello', 12, 89]

In [11]:
# adding data into a list
l1 = [4,2,9] #if a data structure allows to modify and if it never changes memory pos --mutable ds
l1.append(3)  # adding the data into the end of the list
l1

[4, 2, 9, 3]

In [13]:
l1 = [3,2,7,9,12]
l1.insert(3, "Python")  # insert will add the data in specified pos
l1

[3, 2, 7, 'Python', 9, 12]

In [15]:
l1 = [4,2,8]  # will modify original l1 list

print(l1)
l1 += [5,2]
l1

[4, 2, 8]

[4, 2, 8, 5, 2]

In [17]:
l1 = [4,2]

l2 = [5,2]
print(l1+l2)
print(l1)
print(l2)

[4, 2, 5, 2]
[4, 2]
[5, 2]

In [18]:
l1 = [4,2]

l2 = [5,2]

l1.extend(l2) # extend, +=, are mutable methods and they allows duplicates
l1

[4, 2, 5, 2]

In [10]:
l1 = [4,1,7]
del l1  # removing the whole list

In [11]:
l1

NameError: name 'l1' is not defined

In [12]:
# deleting datas from a list

l1 = [3,"hi", 9.34,2,4]
del l1[2]  # will delete data but not return the deleted data
print(l1)

[3, 'hi', 2, 4]

In [13]:
l1 = [3,"hi", 9.34,2,4]
deleted_data = del l1[2]  # will delete data but not return the deleted data
print(l1)

SyntaxError: invalid syntax (3970796722.py, line 2)

In [14]:
l1 = [3,"hi", 9.34,2,4]
poped_data=l1.pop(2)  # will delete data but  return the deleted data
poped_data

9.34

In [22]:
print(l1)

[3, 'hi', 2, 4]

In [15]:
l1 = [3,"hi", 9.34,2, 4]
l1.pop() # will remove last pos data

4

In [24]:
l1

[3, 'hi', 9.34, 2]

In [16]:
l1 = [3,"hi", 9.34,2, 4, 3,4]

l1.remove(3)  # will remove data 3 first occurance
l1

['hi', 9.34, 2, 4, 3, 4]

In [51]:
l1 = [3,"hi", 9.34,2, 4, 3,4]
l1.clear()  # remove all the elements from a list and return an empty list
l1

[]

In [28]:
# ordering -- asc, desc

l1 = [4,12,7,8,3,5]
l1.sort()  # will do ascending order and modify original list mutable method
l1

[3, 4, 5, 7, 8, 12]

In [17]:
l1 = [4,12,7,8,3,5]
l2 = sorted(l1)  # will do ascending order and will not modify original list
print(l1)
print(l2)

[4, 12, 7, 8, 3, 5]
[3, 4, 5, 7, 8, 12]

In [30]:
l1 = [4,12,7,8,3,5]
l1.sort(reverse = True)  # will do descending order and modify original list
l1

[12, 8, 7, 5, 4, 3]

In [32]:
l1 = [4,12,7,8,3,5]
l2 = sorted(l1, reverse = True)  # will do ascending order and will not modify original list
print(l1)
print(l2)

[4, 12, 7, 8, 3, 5]
[12, 8, 7, 5, 4, 3]

In [2]:
l1 = [4, 12, 7, 8, 3, 5]
print(l1[::-1])  # immutable
l1

[5, 3, 8, 7, 12, 4]

[4, 12, 7, 8, 3, 5]

In [34]:
l1 = [4, 12, 7, 8, 3, 5]
l1.reverse() # mutable
l1

[5, 3, 8, 7, 12, 4]

In [18]:
l1 = [4, 12, 7, 8, 3, 5]
l2 = list(reversed(l1))  # to convert any other seq into list we can use "list()"
print(l1)
print(l2)

[4, 12, 7, 8, 3, 5]
[5, 3, 8, 7, 12, 4]

In [38]:
l1 = [3,4,5]
l2 = [5,6]

print(l1> l2)
print(l1< l2)
print(l1== l2)
print(l1!= l2)
print(l1>= l2)

False
True
False
True
False

In [39]:
l1 = [3,4,5]
l2 = [5,6]
l1-l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [40]:
l1 * 2

[3, 4, 5, 3, 4, 5]

In [ ]:
# +,*, comparison, identical, membership, logical -- supports with list

In [3]:
# type conversion
str1 = "hello world"
list(str1)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [19]:
str1 = "hello world"
print([str1])
str2=['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd'],''.join
print(str2)

['hello world']

In [19]:
[apple, orange, cherry, kiwi] = [45,67,28,12]
print(apple)
print(kiwi)

45
12

In [43]:
[apple, orange, cherry, kiwi] = [45,67,28]  #more var less value won't work

ValueError: not enough values to unpack (expected 4, got 3)

In [44]:
[apple, orange, cherry, kiwi] = [45,67,28,12,67,12]

ValueError: too many values to unpack (expected 4)

In [20]:
[apple, orange, *cherry, kiwi] = [45,67,28,12,67,12] # remaining value we store in the cherry using "*"
print(apple)

45

In [23]:
[*apple, orange, cherry, kiwi] = [45,67,28,12,67,12] # remaining value we store in the cherry using "*"
print(apple)

[45, 67, 28]

In [21]:
print(cherry)

[28, 12, 67]

In [21]:
[apple, orange, cherry, kiwi] = [45,67.335,False,"Python"]
print(apple)
print(orange)
print(cherry)
print(kiwi)

45
67.335
False
Python

In [4]:
# copying and renaming

l1 = [45,12,90,34]
l2 = l1 # just giving another name for l1 list not creating a duplicate
print(id(l1))
print(id(l2))
l2.pop()
print(l1)

2130657299456
2130657299456
[45, 12, 90]

In [5]:
l1 = [45,12,90,34]
l2 = l1.copy() # just  creating a duplicate
print(id(l1))
print(id(l2))
l2.pop()
print(l1)

2130653520448
2130657305280
[45, 12, 90, 34]

In [49]:
#common methods among all the data structures
l1 = [45,12,90,34]
print(min(l1))
print(max(l1))
print(len(l1))
print(sum(l1))

12
90
4
181

In [6]:
l1 = [1,2,3,1,2,3,4,5,6,3,2]
print(type(l1))
l1.count(2)

<class 'list'>

3

In [ ]:
# tuple -- immutable, ordered, hetrogeneous, duplicated -- they are faster then list

In [ ]:
#mutable -- append, insert, extend, +=,del [], del , pop(pos), pop(),clear(), remove,.sort(),.reverse()
#immutable -- indexing, slicing, min, max, len, sum, .count, +, *,logical,member,identic, compar, .copy

# mutable datastructure --
    when we perform any method or actions on a data structure if it does not changes its memory address we call it as mutable datastructure

# immutable datastructure --
    when we perform any method or actions on a data structure if it does  changes its memory address we call it as immutable datastructure

In [22]:
# assignment 
# tuple -- immutable, ordered, hetrogeneous, duplicates allowed, we can create tuple using ()
t1 = 23,45,89
print(type(t1))

t1

<class 'tuple'>

(23, 45, 89)

In [8]:
t2 = (45)
print(type(t2))
t2

<class 'int'>

45

In [56]:
t2 = (45, ) # to create tuple with one value
print(type(t2))

<class 'tuple'>

# Dictionary
    -- mutable, unordered,no duplicates , hetrogeneous
    a mapping data structure key:value
    to create a dictionary we use {}

    all the dictionary conditions works on keys itself

In [24]:
d1 = {"apple":False, 4:"python", (3,4):[1,2,4]} # we cannot use list as key
d1

{'apple': False, 4: 'python', (3, 4): [1, 2, 4]}

In [25]:
d1[2] # unordered ds

KeyError: 2

In [26]:
d1[4] # accessing the data based on keys with in ["key"]

'python'

In [60]:
d1["apple"]

False

In [61]:
d1 = {"a":2, "b":3}
d1.append(3) # try check insert, extend, +,.sort, .reverse, indexing, slicing will not support
"""
dictionary does not have pos, dictionary will not allow duplicate -- append needs pos as well as append will allow the duplicates
"""

AttributeError: 'dict' object has no attribute 'append'

In [27]:
# proof that dictionary will not allow duplicates and it is mutable

d1 = {"apple":34, "oragne":12, "kiwi":90, "apple":111 }
d1

{'apple': 111, 'oragne': 12, 'kiwi': 90}

In [28]:
# to add or update a data into a dictionary
d1["lemon"] = 55
d1

{'apple': 111, 'oragne': 12, 'kiwi': 90, 'lemon': 55}

In [29]:
# proof that dict won't allow the duplicates and update

d1 = {"apple":34, "oragne":12, "kiwi":90 }
print(d1)
d1["apple"] = 68
d1

{'apple': 34, 'oragne': 12, 'kiwi': 90}

{'apple': 68, 'oragne': 12, 'kiwi': 90}

In [12]:
# +, extend() -- these methods allow the duplicate so that they cannot performed on a dictionary
d1 = {"apple":34, "oragne":12, "kiwi":90 }
d2 = {"banana":19, "cherry":15, "apple":54}
d1.update(d2) # will remove the duplicates and merge the unique values in d1
d1

{'apple': 54, 'oragne': 12, 'kiwi': 90, 'banana': 19, 'cherry': 15}

In [13]:
# when we use pop() on a dictionary we should pass the key to deleted the item from dictionary
d1 = {"apple":34, "oragne":12, "kiwi":90 }
d1.pop()

TypeError: pop expected at least 1 argument, got 0

In [14]:
d1.pop("kiwi")  # will remove the data and return

90

In [7]:
d1

{'apple': 34, 'oragne': 12}

In [50]:
# to delete the last item from a dictionary use "popitem()"
d1 = {"apple":34, "oragne":12, "kiwi":90 }
d1.popitem()

('kiwi', 90)

In [51]:
d1 = {"apple":34, "oragne":12, "kiwi":90 }
del d1["kiwi"]  # deleting the entire dictionary

In [52]:
d1

{'apple': 34, 'oragne': 12}

In [53]:
del d1

In [54]:
d1

NameError: name 'd1' is not defined

In [12]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
del d1["orange"]

In [13]:
d1

{'apple': 34, 'kiwi': 90}

In [22]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.remove("apple")

AttributeError: 'dict' object has no attribute 'remove'

In [55]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.clear()  # remove all the datas from the dictionary and returns the empty dictionary

In [56]:
d1

{}

In [25]:
# retriving the datas from a dictionary

d1 = {"apple":34, "orange":12, "kiwi":90 }
d1["orange"]

12

In [57]:
d1["banana"]  # if we call the key which is not there in the dictionary [] -- will raise keyerror
print("after trying to retrive a data from dictionary")

KeyError: 'banana'

In [19]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.get("orange")

12

In [58]:
d1.get("banana")  # if the data dosen't exist .get() it will return None
print("after trying to retrive a data from dictionary")

after trying to retrive a data from dictionary

In [62]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.get("banana", "not found")  # giving the default value if the key what we are seeking is not exist it will default value

'not found'

In [61]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.get("apple", "not found")

34

In [23]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.keys()

dict_keys(['apple', 'orange', 'kiwi'])

In [24]:
d1.values()

dict_values([34, 12, 90])

In [25]:
d1.items()

dict_items([('apple', 34), ('orange', 12), ('kiwi', 90)])

In [26]:
# len, min, max, sum,.count
l1 = [34,12,"hello", True]
dict(l1)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [27]:
# type conversion

d1 = {"apple":34, "orange":12, "kiwi":90 }
list(d1)

['apple', 'orange', 'kiwi']

In [26]:
tuple(d1)

('apple', 'orange', 'kiwi')

In [63]:
l1 = [34,12,"hello", True]
d2 = dict.fromkeys(l1, 66) # take keys from the l1 list
d2

{34: 66, 12: 66, 'hello': 66, True: 66}

In [65]:
# if the datastructure which we try to convert as a dictionary what if that is having a duplicate value
l2 = ["apple", "orange", "lemon", "apple"]
d3 = dict.fromkeys(l2, "juice")
d3

{'apple': 'juice', 'orange': 'juice', 'lemon': 'juice'}

In [29]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d2 = {"banana":44, "lemon":32, "mango":9 }
d3 = {"mosabi":34, "grapes":12, "jackfruit":5 }

d1.setdefault("lemon",450)  # it will check the dictionary a specific key(in this case lemon) is exists or not if it is not it will
                            #add that key with value if the exists it will not change anything
d2.setdefault("lemon",450)
d3.setdefault("lemon",450)
print(d1)
print(d2)
print(d3)

{'apple': 34, 'orange': 12, 'kiwi': 90, 'lemon': 450}
{'banana': 44, 'lemon': 32, 'mango': 9}
{'mosabi': 34, 'grapes': 12, 'jackfruit': 5, 'lemon': 450}

In [32]:
d3 = {"mosabi":34, "grapes":1200, "jackfruit":500 } # m>g>j -- when we perform max on a dictionary that dictionary should have all the
                                                    # values as homogeneous then which key is bigger it will return that key
max(d3)

'mosabi'

In [33]:
min(d3)

'grapes'

In [34]:
len(d3)

3

In [66]:
d3 = {"mosabi":34, "grapes":1200, "jackfruit":500 }
sum(d3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [67]:
l2 = ["apple", "orange", "lemon", "apple"]
sum(l2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
d3 = {3:"mosambi",50:"grapes", 4:"jackfruit"}

In [42]:
d3

{3: 'mosambi', 50: 'grapes', 4: 'jackfruit'}

In [43]:
sum(d3)

57

In [44]:
# SET -- mutable, unordered, no duplicates, hetrogeneous-- to create a set we use {}
s1 = {3,4.5,False, "Helloworld",3}
s1

{3, 4.5, False, 'Helloworld'}

In [45]:
s1[2]

TypeError: 'set' object is not subscriptable

In [46]:
# adding the data in a set
s1 = {3,4.5,False, "Helloworld",3}
s1.add(34) # .add() key will add the data into an random position of the set
s1

{3, 34, 4.5, False, 'Helloworld'}

In [47]:
#update 
s1 = {1,2,3,4}
s2 = {4,5,6}
s1.update(s2)  #mutable
s1

{1, 2, 3, 4, 5, 6}

In [92]:
# deleting
s1 = {3,7,11,2,3,4}
s1.pop()  # it will remove the random element in the set s1

2

In [93]:
del s1  # delete the entire set

In [94]:
s1

NameError: name 's1' is not defined

In [41]:
s1 = {3,7,11,2,3,4}
del s1[2]

TypeError: 'set' object doesn't support item deletion

In [42]:
s1 = {3,7,11,2,3,4}
s1.remove(11)
s1

{2, 3, 4, 7}

In [43]:
s1 = {3,7,11,2,3,4}
s1.remove(99)  #if the data dosen't exist it will raise key error
s1

KeyError: 99

In [45]:
s1 = {3,7,11,2,3,4}
s1.discard(11)  #if the data dosen't exist it will raise key error
s1

{2, 3, 4, 7}

In [46]:
s1 = {3,7,11,2,3,4}
s1.discard(99)  #if the data dosen't exist it will raise key error
s1

{2, 3, 4, 7, 11}

In [96]:
# unique operations on the set
s1 = {1,3,7,9,4}
s2 = {2,4,6,8,9}

s1.union(s2) # will return all the unique elements from the both sets duplicates ignored immutable

{1, 2, 3, 4, 6, 7, 8, 9}

In [97]:
s1

{1, 3, 4, 7, 9}

In [48]:
s1 = {1,3,7,9,4}
s2 = {2,4,6,8,9}

s1.intersection(s2)  # the common elements from the both sets

{4, 9}

In [49]:
s1.difference(s2)  # uncommon elements from s1

{1, 3, 7}

In [50]:
s1.symmetric_difference(s2)  # uncommon elements from the both sets

{1, 2, 3, 6, 7, 8}

In [98]:
s1 = {1,2,3}
s2 = {1,2}
s1.issuperset(s2)

True

In [99]:
s2.issubset(s1)

True

In [54]:
s1 = {1,2,3}
s2 = {4,5}
s1.isdisjoint(s2)  # if two sets have no elements in common it will return true

True

In [56]:
s1 = {1, 2, 3, 6, 7, 8}  # to convert a set into immutable use frozenset
s2 = frozenset(s1)

In [57]:
s2.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

In [100]:
# type conversion for set
# when you try to convert a list into a set it will remove the duplicates of the list and then it will convert that as as set

l1 = [6,2,3,4,5,2,3,34,5,6,7,8,43,45,4,62,1,2,4,6]
s1 = set(l1)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 34, 43, 45, 62}

In [51]:
# Range -- immutable, Homogeneous(integers), ordered,no duplicates
# range will not directly will give the elements to visualize the elements we should use other data structures
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
# Range -- immutable, Homogeneous(integers), ordered,no duplicates
range(0,10)

range(0, 10)

In [52]:
list(range(10))  # if we pass only one element range will take that as a stop-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
tuple(range(10,20))  # if we pass two element range will take that as a start:stop-1

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [54]:
set(range(10,30,3))  # if we pass 3 element range will take that as a start:stop-1:step

{10, 13, 16, 19, 22, 25, 28}

In [65]:
# min,max,len,.count, sum, indexing, slicing
r1 = range(3,30,4)
r1.start

3

In [66]:
r1.stop

30

In [67]:
r1.step

4

In [68]:
list(r1)

[3, 7, 11, 15, 19, 23, 27]

In [101]:
list(range(-10))

[]

In [102]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [15]:
# if we define two variable with same name in a single variable the old var will replaced by new one
a = 5
a = 222
print(a)

222

In [17]:
a = 5

if True:
    # if will override the var value
    a= 666
    print(a)

print(a)

5
666

In [18]:
a = 5

def fun():
    # fun namespace will create a local namespace which holds values with in itself
    a= 666
    print(a)

print(a)
fun()

5
666

In [21]:
#LEGB -- local, enclose, global, builtin

v = 34 # global

def fun1():
    v = 56  #enclose

    def fun2():
        v=99 #local
        print(v)

    return fun2

obj = fun1()
obj()

34

# conditional statements
     based on the conditions we decide change the flow of the programs

     Namespaces -- used to monitor the unique var names . different different namespaces will allow you to define same var names.
     each namespaces has its own attributes. LEGB --(local,enclose, global, built in), when we try to call a variable first interpretter will look into local namespace, then enclosed namespace, global namespace, builtin

In [22]:
# condtional statments -- if, else, elif

print("global namespace flow")


a=5
if a>1: # this if block of code only will execute when the given condition is true

    """
    to creata a namespace(block of code) we follow 4 spaces indentation
    """
    print("if namespace(a different namespace)")
    print("if flow(block)")


print("main flow")

global namespace flow
if namespace(a different namespace)
if flow(block)
main flow

In [104]:
print("global namespace")


a=5
if a>10: # this if block of code only will execute when the given condition is true
    print("if namespace(a different namespace)")
    print("if flow(block)")


print("main flow")

global namespace
main flow

In [23]:
# else -- when the condition fails else block will execute

print("global namespace")


a=5
if a>10: # this if block of code only will execute when the given condition is true
    print("if namespace(a different namespace)")
    print("if flow(block)")
else:
    print("else flow")


print("main flow")

global namespace
else flow
main flow

In [24]:
if 5:
    print("if  block executes")

if  block executes

In [25]:
a = 8
b = 5
c = 2

if a>b and b>c and a>c:
    print("condition is true")

condition is true

In [26]:
# example identical operators

if bool(5) is True:
    print("5 is a  boolean value")

5 is a  boolean value

In [27]:
a = "hello"
if "h" in a:
    print("a is there in seq")

a is there in seq

In [28]:
food = ["pizza", "french fries", "sandwhich", "burger"]
print("food's are available", food)
user_input = input("please enter the food from the above")

if user_input == food[0]:
    print("how much size of the pizza you want order")
    
elif user_input == food[1]:
    print("how much qty of the french fries you want order")
    
elif user_input == food[2]:
    print("how many of the sandwhich you want order")
    
elif user_input == food[3]:
    print("how many of the burger you want order")
    
else:
    print("this food is out of stock")

food's are available ['pizza', 'french fries', 'sandwhich', 'burger']

please enter the food from the above sandwhich

how many of the sandwhich you want order

In [29]:
a = 8  # when we use multiple conditions(elif) when the first condition matches there itself it will stop

if a>1:
    print("bigger")
elif a>2:
    print("bigger then 2")
elif a>3:
    print("bigger then 3")

bigger

In [31]:

a = 5

if type(a) == int:
    print("first condition satisfied")
    if a>20:
        print("second condition proved")

first condition satisfied

In [33]:
citizenship = input("are you indian")

if citizenship == "indian":
    age = int(input("enter age"))
    if age >= 18:
        print("you are eligible to vote")

are you indian indian
enter age 23

you are eligible to vote

In [34]:
"""
a condition with in other another condition is nested if 
"""


food = ["pizza", "french fries", "sandwhich", "burger"]
print("food's are available", food)
user_input = input("please enter the food from the above")

if user_input == food[0]:
    print("how much size of the pizza you want order")
    print("available sizes 10, 21, 28")
    size = int(input("enter the size "))
    if size in [10,21,28]:
        print(f"the size you have choosen is {size} bigger")
    else:
        pass
elif user_input == food[1]:
    print("how much qty of the french fries you want order")
    print("available for 1, 2, 3")
    size = int(input("enter the count "))
    if size in [1,2,3]:
        print(f"the count you have choosen is {size}")
    
elif user_input == food[2]:
    print("how many of the sandwhich you want order")
    print("available for 1, 2, 3")
    size = int(input("enter the count "))
    if size in [1,2,3]:
        print(f"the count you have choosen is {size}")
    
elif user_input == food[3]:
    print("how many of the burger you want order")
    print("available for 1, 2, 3")
    size = int(input("enter the count "))
    if size in [1,2,3]:
        print(f"the count you have choosen is {size}")
    
else:
    print("this food is out of stock")

food's are available ['pizza', 'french fries', 'sandwhich', 'burger']

please enter the food from the above burger

how many of the burger you want order
available for 1, 2, 3

enter the count  2

the count you have choosen is 2

In [36]:
# short hand if 
if 4>2: print("condition is true")

condition is true

In [37]:
a = 8
b = 5
c = 2
if a>b or b>a or c>d: print("condition True"), print("logical or implemented")

condition True
logical or implemented

In [38]:
# ternery operators -- operators usually will be located in betwee two operands here also we put if else in between two operands i.e we call it ternery operators

a = 5
b = 3
c = 2

a if c else b

5

In [39]:

#nested ternery operators

print("a is greater") if a>b else print("b is greater") if b>c else print("c is greater")

a is greater

In [40]:
5 if True else 4

5

In [3]:
# assert is an condition checker unlike if. assert will raise an exception if the condition is wrong
a = 4
assert a*a == 16,  AssertionError("value is wrong")
print("condition validated")

condition validated

In [5]:
a = 4
assert a*a == 16,  "oops is wrong"
print("condition validated")

condition validated

In [47]:
a = 3
assert a*a == 16,  AssertionError("value is wrong")
print("condition validated")

AssertionError: value is wrong

In [48]:
def error_status(n):
    match n:
        case 200:
            print("request ok")
        case 400:
            print("bad request")
        case 500:
            print("internal server error")

error_status(500)

internal server error

In [6]:
# without function
n = 500
match n:
    case 200:
        print("request ok")
    case 400:
        print("bad request")
    case 500:
        print("internal server error")

internal server error

In [7]:
# dynamically assign a valid data to a variable

d_name = None
o_name = "user"
name = d_name or o_name
name

'user'

In [54]:
def case_1():
    return "Case 1 executed"

def case_2():
    return "Case 2 executed"

def default_case():
    return "Default case executed"


switch = {
    1: case_1,
    2: case_2,
}
result = switch.get(0, default_case)()
print(result)  # Output: Case 1 executed

Default case executed

# conditional loop(while) -- as long as the condition is true the while loop will run

In [8]:
n = 0

while n<15:  # if the condition is always true the while will becomen a infinite loop
    print(n)
    n +=1  # by doing the incrementation we make the condition fail at some pos
else:
    print("end of the while loop")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
end of the while loop

In [27]:
i = 0
while i<15:
    print(i)
    if i == 8:
        break   # when the break executes it will stop the loop
    i +=1
else:
    print("end of the loop")

0
1
2
3
4
5
6
7
8

In [9]:
i = 0
while i<15:
  
    i +=1
    if i%2 != 0:
        continue   # when the continue executes it will skip the following lines 
        #push the current loop without executeing following lines of code
    print(i)
    print(i, "is a even number")
  
else:
    print("end of the loop")

2
2 is a even number
4
4 is a even number
6
6 is a even number
8
8 is a even number
10
10 is a even number
12
12 is a even number
14
14 is a even number
end of the loop

In [30]:
x = 5
y = 3

while x>3 and y>1:  # multiple condition with while loop
    print(f"{x} and {y} are positive values")
    y -=1

5 and 3 are positive values
5 and 2 are positive values

In [3]:
two_dim = [
    [1,3,5],
    [2,4,6],
    [8,10,12]
]
i = 0
while i<len(two_dim):
    row = two_dim[i]
    print(row)

    
    j = 0
    while j<len(row):
        print(row[j])
        j +=1
    
    
    i +=1

[1, 3, 5]
1
3
5
[2, 4, 6]
2
4
6
[8, 10, 12]
8
10
12

# For Loop :
    Iteration Loop -- a loop that iterates over a sequence each element of the sequence the for loop executes the body of it

In [57]:
l1 = [34,12,89,7.8]

for i in l1:
    print(i)
else:
    print("end of the for loop")

34
12
89
7.8
end of the for loop

In [3]:
for i in range(15):
    print(i)
    if i == 8:
        break

0
1
2
3
4
5
6
7
8

In [4]:
for i in range(15):
    
    if i%2 ==0:
        continue
    print(i)

1
3
5
7
9
11
13

In [5]:
colors = ["red", "green"]

fruits = ["banana", "cherry", "apple"]

for color in colors:
    for fruit in fruits:
        print(f"the {fruit} color is {color}")

the banana color is red
the cherry color is red
the apple color is red
the banana color is green
the cherry color is green
the apple color is green

In [6]:
# enumerate -- return the sequence elements along with their positions in a tuple

l1 = [4,2,8,6]
l2 = list(enumerate(l1))
l2

[(0, 4), (1, 2), (2, 8), (3, 6)]

In [7]:
for i in enumerate(l1):
    print(i)

(0, 4)
(1, 2)
(2, 8)
(3, 6)

In [8]:
for i,j in enumerate(l1):
    print(f"index position {i} for the element {j}")

index position 0 for the element 4
index position 1 for the element 2
index position 2 for the element 8
index position 3 for the element 6

In [9]:
products = ["sugar", "coffepowder", "ghee", "milk"]
prices = [30,60,500,25, 34,12]

for product, price in zip(products, prices):
    print(product)
    print(price)
    print()

sugar
30

coffepowder
60

ghee
500

milk
25

In [10]:
# comprehensions -- create datasturucters in easy manner using for, if
# list comprehension
l1 = [x*x for x in range(10)]
l1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
l1 = [x for x in range(20) if x%2 !=0]
l1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [12]:
#dictionary comprehension
d1 = {x:x**3 for x in range(8)}
d1

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

In [13]:
d1 = {x:x**3 for x in range(15) if x%2 ==0}
d1

{0: 0, 2: 8, 4: 64, 6: 216, 8: 512, 10: 1000, 12: 1728, 14: 2744}

# functions
    => are reusable codes
    => a function needs to be called to execute the function block code
    => a simple logic of the code
    => a function uses a return statment 
    => def name():
        "logic of the code"

    inbuild -- print, min, max, sum, len
    user defined -- created by the programmer for own use
    module functions -- coming from libraries

In [15]:
def hello():  # empty functions
    pass
hello()

In [16]:
def fun():
    return "hello"
fun()

'hello'

In [17]:
def fun():
    return "hello"  # a function can return all data types, all data structures, another fun, class
obj = fun()

In [18]:
obj[3]

'l'

In [19]:
obj[2:]

'llo'

In [20]:
def fun():
    print("hello")  # a function can return all data types, all data structures, another fun, class
obj = fun()

hello

In [21]:
obj

In [22]:
obj[0]

TypeError: 'NoneType' object is not subscriptable

In [23]:
def calculator(a,b):
    return a-b, a*b, a/b

val1 = eval(input("enter the number1"))
val2 = eval(input("enter the number2"))

calculator(val1, val2)

enter the number1 5
enter the number2 2

(3, 10, 2.5)

In [1]:
# when we want to assign values for a parameter we use keyword argument functions


def maths(a,b,c):
    return a+b+c, a-b-c, a*b*c

obj = maths(c = 2,b = 4, a = 8)  # keyword arguments

In [2]:
obj

(14, 2, 64)

In [9]:
def fun(a,b):
    """
    the parameters and the arguments should always match in the normal function
    """
    return a+b

#obj = fun(4)
#obj = fun(4,3,4)
obj = fun(4,2)
obj

6

In [4]:
# Arbitrary Argument functions
def fun(*a):
    """
    when we get unknown or n number arguments we can store it
    in a single parameter called  arbitrary arguments
    it will store the arguments in a tuple
    """
    return type(a), len(a), min(a), max(a), a

obj = fun(2,3,4,5,6,7,1,2,3)
obj

(tuple, 9, 1, 7, (2, 3, 4, 5, 6, 7, 1, 2, 3))

In [10]:
def fun(**a):
    """
    when we get unknown or n number key-value pair arguments. we can store it
    in a single parameter is called  arbitrary keyword arguments function
    it will store the arguments into a dictionary
    """
    return type(a), len(a), min(a), max(a), a

obj = fun(a=2,b=3,c=4,d=5,e=6)
obj

(dict, 5, 'a', 'e', {'a': 2, 'b': 3, 'c': 4, 'd': 5, 'e': 6})

In [11]:
def dpf(alaram = "cuckoo"):
    """
    a function that has its own parameter value if we pass our own value
    while calling the function the default parameter value will be replace 
    by passed value else it will return default value"""
    
    return f"times up {alaram}"

dpf("whistle")

'times up whistle'

In [12]:
dpf()

'times up cuckoo'

In [14]:
# a function which calls with in itself is a recursive function

def fact(n):
    if n == 1:
        return 1

    else:
        return n* fact(n-1)  #5*4*3*2*1

fact(5)

120

In [16]:
def lf():
    x = 8  # local variable -- only accessible with in that function block(namespace)
    return x

print(x)

lf()

NameError: name 'x' is not defined

In [17]:
x = 8  # global variable

def gn():
    return x

print(x)
gn()

8

8

In [18]:
# namespaces will allow the same var name in different namespaces

x = 90

def lnf():
    x = 45
    return x

print(x)
lnf()

90

45

In [20]:
# global -- key to convert a local variable into a global variable

def lnf():
    global x
    x = 55
    return x
print(lnf())
print(x)

55
55

In [23]:
def dpf(alaram = "cuckoo"):
    """
    a function that has its own parameter value if we pass our own value
    while calling the function the default parameter value will be replace 
    by passed value else it will return default value"""
    # single line comment
    
    return f"times up {alaram}"

print(dpf.__doc__)

    a function that has its own parameter value if we pass our own value
    while calling the function the default parameter value will be replace
    by passed value else it will return default value

In [24]:
help(fun)

Help on function fun in module __main__:

fun(**a)
    when we get unknown or n number key-value pair arguments. we can store it
    in a single parameter is called  arbitrary keyword arguments function
    it will store the arguments into a dictionary

In [38]:
def outer():

    """
    when the inner function returned into the namespace of outer function
    the outer function object literally become inner function itself
    then we can easily call it
    """
    
    def inner():
        return "this message is coming from the inner function"
    
    return inner

obj = outer()

In [39]:
obj()

'this message is coming from the inner function'

In [40]:
def outer(m):
    def inner(n):
        return m*n
    return inner

obj = outer(5)
obj(2)

10

### Decorator
    a normal python function which takes another python function as a argument by doing that we can change, extend, modify the behaviour of that function eventually we can write some code around it and return it as a new function

In [46]:

def extra_decorations(fun):
    def wrapper():
        print("welcome to python $$$$$$$$$$$$$")
        print(fun())
        print("********* GOOD BYE *************")
        
    return wrapper


@extra_decorations
def fun():
    return "hello there!!"

fun()

welcome to python $$$$$$$$$$$$$
hello there!!
********* GOOD BYE *************

In [41]:
print(4/0)

ZeroDivisionError: division by zero

In [48]:
def zero_handler(n):
    def wrapper(a,b):
        if b == 0:
            print("since you have passed denominator as 0 we consider that as 1")
            b = 1
            print(n(a,b))
            print("calculation finished")
        else:
            print("calculation in progress")
            print(n(a,b))
            print("calculation finished")
    return wrapper



@zero_handler
def divide(a,b):
    return a/b

divide(6,3)

calculation in progress
2.0
calculation finished

# lambda - anonyomous, will take n number args but it will return only one expression
    obj = lambda para: expression

In [1]:
math = lambda x,y: print(x+y, x-y)
math(4,2)

6 2

In [2]:
l1 = ["kiwi", "apple", "orange", "bananas"]
l1.sort()
l1

['apple', 'bananas', 'kiwi', 'orange']

In [3]:
l1 = ["kiwi", "apple", "orange", "bananas"]
l1.sort(key = lambda x: len(x))  #length based ascending order
l1

['kiwi', 'apple', 'orange', 'bananas']

In [5]:
l1 = ["kiwi", "apple", "orange", "bananas", "cherry"]
# filter is a inbuild key that takes formula and seq it will apply the formula on the seq
re = list(filter(lambda x: "a" in x, l1))
re

['apple', 'orange', 'bananas']

In [7]:
l1 = ["kiwi", "apple", "orange", "bananas", "cherry"]
# map -- take the formula and apply the each element on the seq
re = list(map(lambda x: x+" juices", l1))
re

['kiwi juices',
 'apple juices',
 'orange juices',
 'bananas juices',
 'cherry juices']

In [8]:
from functools import reduce

l1 = [34,2,5,4,9]
# we can use reduce to convert a sequence into an single element based on some formula
re = reduce(lambda x,y:x-y, l1)
re

14

In [9]:
import os

print(os.path.exists("file_1.txt"))

True

In [10]:
os.remove("file_3.txt")

In [ ]:
os.rename("file_2.txt", "file.txt")

In [13]:
os.mkdir("sample")

In [14]:
os.rmdir("sample")

In [15]:
os.makedirs("sample/images")

In [16]:
os.removedirs("sample/images")

In [17]:
os.getcwd()

'C:\\User_Desk\\Teaching_contents\\batch_notes'

In [18]:
os.listdir(".")

['.ipynb_checkpoints',
 '14thAug-8AM Aug-sept.ipynb',
 '14thWeekendSep-Oct-2024.ipynb',
 '17th Aug-sept-2024 Weekend.ipynb',
 '18Nov-7Pm-2024.ipynb',
 '1stjuneWeekend.ipynb',
 '2.0.1',
 '28sep 4pm weekend.ipynb',
 '3matplotlib.ipynb',
 '7.30 AM Aug-sep -2024.ipynb',
 '7.30AM_nov-7.ipynb',
 '8.30am-17thoct-python.ipynb',
 '8amJune-python2024.ipynb',
 '9am-13oct-python.ipynb',
 'basic of numpy.ipynb',
 'category.csv',
 'copy_kailash.png',
 'csvjson.json',
 'data_1.txt',
 'dummy',
 'emp.csv',
 'employee.csv',
 'employee.json',
 'file.txt',
 'file_1.json',
 'file_1.txt',
 'file_example_XLS_50.xlsx',
 'kailash.jpg',
 'myenv',
 'numpy (1).ipynb',
 'output.csv',
 'output_1.csv',
 'pandas (1).ipynb',
 'python syllabus.pdf',
 'sample.csv',
 'sample.json',
 'sample.py',
 'stores.csv',
 'stores.xlsx',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled3.ipynb',
 '__pycache__']

# file handling --"open" used to open a file in specific mode
    obj = open("file.ext", "r")

In [21]:
fileobj = open("file_1.txt", "r")  # 'r' -- immutable mode we can extract the content from the file but cannot
# delete or insert new data to the file
print(fileobj.read())
fileobj.close()

this is a new file with write mode contentthis data inserted by append mode
a new line again inserted
python programming language
Artificial Intelligence
Neural Networks, CNN, RNN

In [22]:
obj = open("file_1.txt", "r")
obj.readline()

'this is a new file with write mode contentthis data inserted by append mode\n'

In [23]:
obj.readline()

'a new line again inserted\n'

In [24]:
obj.readline()

'python programming language\n'

In [25]:
obj.readline()

'Artificial Intelligence\n'

In [26]:
obj.readline()

'Neural Networks, CNN, RNN'

In [31]:
# if we want to open a file in a specific namespace

with open("file_1.txt", "r") as f:

    # opening the with in the specific namespace
    print(f.read())

f.read()

this is a new file with write mode contentthis data inserted by append mode
a new line again inserted
python programming language
Artificial Intelligence
Neural Networks, CNN, RNN

ValueError: I/O operation on closed file.

In [33]:
with open("file_1.txt", "r") as f:
    data = list(f.readlines())
    print(data)

['this is a new file with write mode contentthis data inserted by append mode\n', 'a new line again inserted\n', 'python programming language\n', 'Artificial Intelligence\n', 'Neural Networks, CNN, RNN']

In [35]:
# w -- if a file already exists. remove existing content from the file and enter the new data
# if the doesn't exist it will create a new file and add the datas
with open("file.txt", "w") as f:
    f.write("this is the new content created with open mode \n")
    f.write("second line with python \n")
    f.write("Third line of data \n")

In [36]:
with open("file.txt", "w") as f:
    f.writelines(["python programming\n", "file handling with writemode\n", "testing the writelines\n"])

In [37]:

count = 0
for line in open("file.txt", "r"):
    print(line)
    count +=1

print("count of the lines", count)

python programming

file handling with writemode

testing the writelines

count of the lines 3

In [38]:
# append will add the data in the existing file without removing existing content.
with open("file.txt", "a") as f:
    f.write("\n this is the fourth line")

In [39]:
# striping the file spaces 
for line in open("file.txt"):
    print(line)

python programming

          file handling with writemode

     testing the writelines



 this is the fourth line

In [40]:
# striping the file spaces 
for line in open("file.txt"):
    print(line.strip())

python programming
file handling with writemode
testing the writelines

this is the fourth line

In [41]:
# when we open a file with x mode if the file already existe it will raise error else it will create empty file

obj = open("file_1.txt", "x")

FileExistsError: [Errno 17] File exists: 'file_1.txt'

In [42]:
# binary files -.jpeg,.png, .mp4,.mp3

with open("kailash.jpg", "rb") as f:
    data = f.read()
    print(data[:200])

b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00\x00\x01\x00\x01\x00\x00\xff\xdb\x00\x84\x00\x08\x06\x06\x07\x06\x05\x08\x07\x07\x07\t\t\x08\n\x0c\x14\r\x0c\x0b\x0b\x0c\x19\x12\x13\x0f\x14\x1d\x1a\x1f\x1e\x1d\x1a\x1c\x1c $.\' ",#\x1c\x1c(7),01444\x1f\'9=82<.342\x01\t\t\t\x0c\x0b\x0c\x18\r\r\x182!\x1c!22222222222222222222222222222222222222222222222222\xff\xc2\x00\x11\x08\x04\x1a\x05x\x03\x01"\x00\x02\x11\x01\x03\x11\x01\xff\xc4\x004\x00\x00\x02\x03\x01\x01\x01\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x01\x02\x03\x04\x05'

In [43]:
with open("kailash.jpg", "rb") as f:
    data = f.read()
    with open("copy_kailash.png", "wb") as d:
        d.write(data)

In [44]:
with open("copy_kailash.png", "ab") as file1:
    file1.write(b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00\x00\x01\x00\x01\x00\x00\xff\xdb\x00\x84\x00\x08\x06\x06\x07\x06\x05\x08\x07\x07\x07\t\t\x08\n\x0c\x14\r\x0c\x0b\x0b\x0c\x19\x12\x13\x0f\x14\x1d\x1a\x1f\x1e\x1d\x1a\x1c\x1c $.\' ",#\x1c\x1c(7),01444\x1f\'9=82<.342\x01\t\t\t\x0c\x0b\x0c\x18\r\r\x18')

In [46]:
# csv 

with open("employee.csv", "r") as f:
    print(f.read())

name,salary,exp,city
john,3000,4,losvegas
doe,4000,5, dc
robert,8000,6, paris
chris,9000,7,newyork
,3000,,losvegas
john,3000,4,losvegas
evans,,4,losvegas
tom,3000,4,

In [48]:
import csv  # a library that will convert text csv data into list of rows

with open("employee.csv", "r") as f:
    records = csv.reader(f)
    for record in records:
        print(record)

['name', 'salary', 'exp', 'city']
['john', '3000', '4', 'losvegas']
['doe', '4000', '5', ' dc']
['robert', '8000', '6', ' paris']
['chris', '9000', '7', 'newyork']
['', '3000', '', 'losvegas']
['john', '3000', '4', 'losvegas']
['evans', '', '4', 'losvegas']
['tom', '3000', '4', '']

In [49]:
import csv  # a library that will convert text csv data into list of rows

with open("employee.csv", "r") as f:
    records = csv.DictReader(f)
    for record in records:
        print(record)

{'name': 'john', 'salary': '3000', 'exp': '4', 'city': 'losvegas'}
{'name': 'doe', 'salary': '4000', 'exp': '5', 'city': ' dc'}
{'name': 'robert', 'salary': '8000', 'exp': '6', 'city': ' paris'}
{'name': 'chris', 'salary': '9000', 'exp': '7', 'city': 'newyork'}
{'name': '', 'salary': '3000', 'exp': '', 'city': 'losvegas'}
{'name': 'john', 'salary': '3000', 'exp': '4', 'city': 'losvegas'}
{'name': 'evans', 'salary': '', 'exp': '4', 'city': 'losvegas'}
{'name': 'tom', 'salary': '3000', 'exp': '4', 'city': ''}

In [50]:
with open("employee.csv", "r") as f:
    records = csv.reader(f)
    for record in records:
        print(record)

        with open("sample.csv", "a") as d:
            writer = csv.writer(d)
            writer.writerow(record)

['name', 'salary', 'exp', 'city']
['john', '3000', '4', 'losvegas']
['doe', '4000', '5', ' dc']
['robert', '8000', '6', ' paris']
['chris', '9000', '7', 'newyork']
['', '3000', '', 'losvegas']
['john', '3000', '4', 'losvegas']
['evans', '', '4', 'losvegas']
['tom', '3000', '4', '']

In [51]:
# write mode base csv creationg

with open("sample.csv", "w") as f:
    writer = csv.writer(f)

    writer.writerow(["EmpName", "salary", "street"])
    writer.writerow(["user1", "200000", "manhattan"])
    writer.writerow(["user2", "300000", "baker"])

In [55]:
with open("sample.csv", "w") as f:
    fields = ["std_id", "std_name", "std_course"]
    writer = csv.DictWriter(f, fieldnames =fields )

    writer.writerow({"std_id":2,"std_name":"user3", "std_course":"python" })
    writer.writerow({"std_id":4,"std_name":"user4", "std_course":"fullstack" })
    writer.writerow({"std_id":5,"std_name":"user5", "std_course":"AI" })

In [2]:
data = open("employee.json", "r")
record = data.read()
type(record)

str

In [4]:
import json
data = open("employee.json", "r")
json_record = json.load(data)
print(json_record)

[{'name': 'user1', 'city': 'newyork'}, {'name': 'user2', 'city': 'los vegas'}, {'name': 'user3', 'city': 'san francisco'}]

In [5]:
type(json_record)

list

In [6]:
# how to convert a string into an json
str1 = '{"name":"user", "city":"florida", "nation":"canada"}'
type(str1)

str

In [7]:
import json
data  = json.loads(str1)
data

{'name': 'user', 'city': 'florida', 'nation': 'canada'}

In [8]:
type(data)

dict

In [9]:
import json

insert_data = {'name': 'user', 'city': 'florida', 'nation': 'canada'}

with open("sample.json", "w") as f:
    json.dump(insert_data, f)

In [10]:
"hello"+67

TypeError: can only concatenate str (not "int") to str

In [11]:
4/0

ZeroDivisionError: division by zero

In [18]:
try: 
    """
    a try block where we can put our suspicious code if the code runs withou raising an error we
    will be able see the result if the code raises any error the except block will execute
    """
    a = eval(input("enter the first value "))
    b = eval(input("enter the second value"))

    print(a/b)

except:
    
    print("something went wrong")

enter the first value  8
enter the second value 4

2.0

In [21]:
# multiple exceptions

try: 
    
    a = eval(input("enter the first value "))
    b = eval(input("enter the second value"))

    print(a/b)

except TypeError:
    print("when we try to perform actions inbetween two different types of the data we will get type error")
except ZeroDivisionError:
    print("if we use the denominator as 0 we will get Zero Division Error")

enter the first value  8
enter the second value "hello"

when we try to perform actions inbetween two different types of the data we will get type error

In [24]:
try: 
    """
    a try block where we can put our suspicious code if the code runs withou raising an error we
    will be able see the result if the code raises any error the except block will execute
    """
    a = eval(input("enter the first value "))
    b = eval(input("enter the second value"))

    print(a/b)

except Exception as e:
    print(f"your try block is facing {e}")

enter the first value  "hello"
enter the second value 3

your try block is facing unsupported operand type(s) for /: 'str' and 'int'

In [28]:
# multiple exceptions

try: 
    
    a = eval(input("enter the first value "))
    b = eval(input("enter the second value"))

    print(a/b)

except TypeError:
    print("when we try to perform actions inbetween two different types of the data we will get type error")
except ZeroDivisionError:
    print("if we use the denominator as 0 we will get Zero Division Error")
else:
    """
    a else block in a try except will execute when the try block runs without any error
    """
    print("try ran successfully")
finally:
    """
    regardless of try, except-- finally block always execute
    """
    print("end of the error handling")

enter the first value  9
enter the second value 0

if we use the denominator as 0 we will get Zero Division Error
end of the error handling

In [33]:
try:
    """
    according our wish or condition we can raise our own exceptions
    """
    a = eval(input(">"))
    if a>10:
        raise RuntimeError
    elif a<10:
        raise ValueError

    print("you guessed the right answer")
except RuntimeError:
    print("the guessed value is bigger than ans")

except ValueError:
    print("the guessed value is smaller than ans")

> 12

the guessed value is bigger than ans

In [36]:
# create own exceptions

class ValueBig(Exception):
    pass

class ValueSmall(Exception):
    pass



try:
    """
    according our wish or condition we can raise our own exceptions
    """
    a = eval(input(">"))
    if a>10:
        raise ValueBig
    elif a<10:
        raise ValueSmall

    print("you guessed the right answer")
except ValueBig:
    print("the guessed value is bigger than ans")

except ValueSmall:
    print("the guessed value is smaller than ans")

> 33

the guessed value is bigger than ans

In [38]:
# create own exceptions

class ValueBig(Exception):
    def __init__(self):
        self.message = "ValueBig exception happens when you guess bigger value then ans"

class ValueSmall(Exception):
    def __init__(self):
        self.message = "ValueBig exception happens when you guess Smaller value then ans"



try:
    """
    according our wish or condition we can raise our own exceptions
    """
    a = eval(input(">"))
    if a>10:
        raise ValueBig
    elif a<10:
        raise ValueSmall

    print("you guessed the right answer")
except ValueBig as e:
    print(e.message)

except ValueSmall as e:
    print(e.message)

> 2

ValueBig exception happens when you guess Smaller value then ans

# OOPS 
    object orientedd programming system -- using the object we can bundle n number functionalities as well as logics, blocks of code under single object
    => class -- it is a blueprint of objects with in a class we can write methods, variable, constructors, instance attributes inner classes
    => object -- a literal property accessor in other words instance of a class we can use the objects  to call all the methods, variables, attributes we can create n number of object for a class

    => inheritence deriving all of the properties, var, methods from a class to another class inheritence
    => polymorphism using some common methods or var we can use the shortcut to optimize the in other words one problem many form of solutions
    => encapsulation -- gathering n number of codes logics, block functionalities under a object
    is called encapsulations
    => showing the necessary part to the end user and hiding the logis and codes is called abstraction\

In [39]:
class Test1:
    print("this is the first oops concept message")

this is the first oops concept message

In [40]:
class Test1:
    x = 90
    y = 67
    print("this is the first oops concept message")

obj = Test1()
obj.x

this is the first oops concept message

90

In [41]:
obj.y

67

In [42]:
class Test1:
    def add(self, x,y):
        print(x+y)

obj = Test1()
obj.add(4,2)

6

In [47]:
class Test1:
    d1 = 78
    def add(self, x,y):
        print(x+y+self.d1)

obj = Test1()
obj.add(4,2)

84

In [58]:
class Test1:
    d1 = 78
    def values(self, x,y):
        self.v1 = x
        self.v2 = y
        

    def add(self):
        print(self.v1+self.v2)

    def sub(self):
        print(self.v1-self.v2)

    

obj = Test1()
obj.values(4,2)

In [59]:
obj.add()

6

In [60]:
obj.sub()

2

In [61]:
obj.v1

4

In [62]:
obj.v2

2

In [63]:
class Test1:
    def __init__(self,p1,p2):
        """
        initializer constructor will execute when we call or create a object for class so we can pass the 
        arguments for the class initializer will take those arguments
        """
        
        self.v1 = p1
        self.v2 = p2

    
    def add(self):
        print(self.v1+self.v2)

obj = Test1(4,2)
obj.add()

6

In [3]:
class Test1:
    d1 = 78
    
    def __init__(self, x,y):
        self.v1 = x
        self.v2 = y
        

    def add(self):
        return self.v1+self.v2

    def sub(self):
        return self.v1-self.v2

    def calc(self):
        print(self.add(), self.sub())
        
obj = Test1(8,2)
obj.calc()

10 6

In [15]:
class Test1:
    a = 56
    def __init__(self, x,y):
        self.v1 = x
        self.v2 = y
        

    def add(self):
        return self.v1+self.v2

    @staticmethod
    def hello():
        """
        a method which does not have any relations in between class level or instance properties
        a stand alone method with in a class
        """
        return "hello world"

    @classmethod
    def world(cls):
        """
        a method which allow us to access only the class level properties not the instance level
        properties
        """
        print(cls.a)
        print(cls.v1)
        

obj = Test1(4,2)
obj.hello()

'hello world'

In [16]:
obj.world()

56

AttributeError: type object 'Test1' has no attribute 'v1'

In [19]:
class Test1:
    def __init__(self, p1):
        self.v1 = p1

    def display(self):
        print("this is outer class methods with passed data ", self.v1)

    class Test2:
        def __init__(self, p2):
            self.v2 = p2

        def show(self):
            print("this is inner class methods with passed data ", self.v2)


obj = Test1(34)
obj.display()

this is outer class methods with passed data  34

In [21]:
obj.Test2(44).show()

this is inner class methods with passed data  44

In [22]:
innerobj = obj.Test2(23)
innerobj.show()

this is inner class methods with passed data  23

In [23]:
class Test1:
    def __init__(self, p1):
        self.v1 = p1
        self.Inn = self.Test2(89)

    def display(self):
        print("this is outer class methods with passed data ", self.v1)

    class Test2:
        def __init__(self, p2):
            self.v2 = p2

        def show(self):
            print("this is inner class methods with passed data ", self.v2)


obj = Test1(34)
obj.display()

this is outer class methods with passed data  34

In [24]:
obj.Inn.show()

this is inner class methods with passed data  89

In [31]:
# single inheritence -- a class derives the data from only one class

class A:
    x = 90
    def hello(self):
        return "hello world"


class B(A):
    pass

obj = B()
obj.hello()

'hello world'

In [32]:
obj.x

90

In [29]:
class A:
    x = 90
    def hello(self):
        return "hello world"


class B(A):
    def details(self):
        print(super().hello())
        print(super().x)

obj = B()
obj.details()

hello world
90

In [33]:
class A:
    x = 90
    def hello(self):
        return "hello world"


class B(A):
    def details(self):
        print(A.hello(self))
        print(A.x)

obj = B()
obj.details()

hello world
90

In [34]:
#multiple inheritence -- one subclass inheriting more than one superclass
class A:
    x = 90
    def hello(self):
        return "This is class A"


class B:
    def details(self):
       return "this class B"


class C(A,B):
    pass

obj = C()
obj.x

90

In [35]:
obj.details()

'this class B'

In [36]:
# multilevle inheritence -- inheriting a child class with another class

class A:
    x = 90
    def hello(self):
        return "This is class A"


class B:
    def details(self):
       return "this class B"


class C(A,B):
    def show(self):
        return "this subclass C"


class D(C):
    pass

obj = D()

obj.x

90

In [37]:
obj.details()

'this class B'

In [38]:
obj.show()

'this subclass C'

In [39]:
obj.hello()

'This is class A'

In [5]:
#Hierarchical inheritences -- one superclass inherited by more than on subclasses

class A:
    
    def __init__(self, x,y):
        self.x = x
        self.y = y



class AddProduct(A):
    def a_p(self):
        return self.x+self.y, self.x*self.y


class SubDivede(A):
    def s_d(self):
        return self.x-self.y, self.x/self.y

In [3]:
obj = AddProduct(4,2)

obj.a_p()

(6, 8)

In [4]:
obj1 = SubDivede(5,3)
obj1.s_d()

(2, 1.6666666666666667)

In [6]:
a = 9
a = 45

print(a)

45

In [11]:

# overriding
def product(a,b):
    return a*b

def product(a,b,c):
    return a*b*c


def product(a,b,c,d):
    return a*b*c*d


print(product(4,2,3,1))

24

In [9]:
product(3,4)

TypeError: product() missing 1 required positional argument: 'd'

In [10]:
from multipledispatch import dispatch


# over loading
@dispatch(int, int)
def product(a,b):
    return a*b


@dispatch(int, int, int)
def product(a,b,c):
    return a*b*c

@dispatch(int, int, int, int)
def product(a,b,c,d):
    return a*b*c*d


print(product(4,2,3,1))
print(product(4,2,3))
print(product(4,2))

24
24
8

In [13]:
# method overriding

class A:
    def show(self):
        return "this is a Class message"


class B(A):
    def show(self):
        return "this is child class message"


obj = B()
obj.show()

'this is child class message'

In [16]:
# overloading in the inheritence level

class A:
    def show(self):
        return "this is a Class message"


class B(A):
    def show(self):
        print(super().show())
        return "this is child class message"


obj = B()
obj.show()

this is a Class message

'this is child class message'

In [17]:
class Test1:
    def __init__(self,x):
        self.x = x


obj1 = Test1(4)
obj2 = Test1(8)

obj1+obj2 # we cannot  perform arithmetci ope in between two class obj

TypeError: unsupported operand type(s) for +: 'Test1' and 'Test1'

In [18]:
#operator overloading

class Test1:
    def __init__(self,x):
        self.x = x

    def __add__(self, other):
        return self.x+other.x

obj1 = Test1(4)
obj2 = Test1(8)

obj1+obj2

12

In [24]:
# operator overriding
class Test1:
    def __init__(self,x):
        self.x = x

    def __add__(self, other):
        return self.x - other.x, self.x/other.x

obj1 = Test1(4)
obj2 = Test1(8)

obj1+obj2

(-4, 0.5)

In [26]:
class Test1:
    def add(self, a,b):
        return a+b
    def add(self, a,b,c):
        return a+b+c
    def add(self, a,b,c,d):
        return a+b+c+d

obj = Test1()
obj.add(2,4,5,2)

6

In [29]:
# with in a class method overloading
class Test1:
    def add(self, a=None,b=None, c=None):
        if a!=None and b != None and c != None:
            return a+b+c
        elif a!=None and b!=None:
            return a+b
        else:
            return a
    

obj = Test1()
print(obj.add(2,4,5))
print(obj.add(2,4))
print(obj.add(2))

11
6
2

In [31]:
# duck typing


class Duck:
    def legs(self):
        print("duck has 2 legs")



class Tiger:
    def legs(self):
        print("Tiger has 4 legs")



class Fish:
    def legs(self):
        print("fish has no legs")



class spider:
    def legs(self):
        print("spider has 8 legs")


for obj in [Duck(), Tiger(), Fish(), spider()]:
    obj.legs()

duck has 2 legs
Tiger has 4 legs
fish has no legs
spider has 8 legs

In [1]:
# function any and all 

#all -- if we want to check every element in a seq  shoud be true

l1 = [12,23,45,6,0,'']
all(l1)

False

In [2]:
#any -- if we want to check at least anyone value true we can consider that as a true value
any(l1)

True

In [4]:
# iter -- will convert a sequence into an iterable object

l1 = [3,2,6,4]
obj = iter(l1)
next(obj)

3

In [5]:
next(obj)

2

In [6]:
next(obj)

6

In [7]:
next(obj)

4

In [8]:
next(obj)

StopIteration:

In [9]:
l1 = "hello"
obj = iter(l1)
next(obj)

'h'

In [10]:
# generators are concised way of create iterator memory efficient way

def fun():
    return 3

for i in fun():
    print(i)

TypeError: 'int' object is not iterable

In [11]:
def fun():
    yield 3
    yield 5
    yield 9

for i in fun():
    print(i)

3
5
9

In [13]:
gen1 = (x*2 for x in range(5))

next(gen1)

0

In [14]:
next(gen1)

2

In [15]:
next(gen1)

4

In [16]:
next(gen1)

6

In [17]:
def fib(n):
    a,b = 0,1
    while a<n:
        yield a
        a,b = b,a+b


for i in fib(14):
    print(i)

0
1
1
2
3
5
8
13

In [18]:
from collections import *

# namedtuple allow to access tuple records using keys
std = namedtuple("std", ["name", "id", "city"])  # defining the keys for the tuple
s1 = std("user1", 4, "bengaluru")

s1[1]

4

In [19]:
s1.city

'bengaluru'

In [20]:
s1[1] = 6

TypeError: 'std' object does not support item assignment

In [22]:
#OrderedDict -- a dictionary that remembers the incoming outgoing actions
d1 = OrderedDict({"a":"apple", "b":"banana", "c":"cherry"})

print(d1)
d1.pop("a")

OrderedDict([('a', 'apple'), ('b', 'banana'), ('c', 'cherry')])

'apple'

In [23]:
d1["a"] = "jackfruit"
d1

OrderedDict([('b', 'banana'), ('c', 'cherry'), ('a', 'jackfruit')])

In [24]:
#defaultdict -- a dictionary that never throws an error but returns default value

dd = defaultdict(lambda : 50)
dd["a"] = 90
dd["b"] = 30
dd["c"] = 12

dd

defaultdict(<function __main__.<lambda>()>, {'a': 90, 'b': 30, 'c': 12})

In [25]:
dd["m"]

50

In [26]:
dd["a"]

90

In [27]:
d1 = {"a":"apple", "b":"banana", "c":"cherry"}
d2 = {"e":"elephant", "f":"fruit"}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [28]:
ChainMap(d1,d2)  # will bring more than one dictionary in a tuple

ChainMap({'a': 'apple', 'b': 'banana', 'c': 'cherry'}, {'e': 'elephant', 'f': 'fruit'})

In [29]:
#deque -- it will add or remove the data from start also

l1 = deque([3,2,6,4])
l1.popleft()

3

In [30]:
l1.appendleft(8)

In [31]:
l1

deque([8, 2, 6, 4])

In [33]:
# Counter  -- it will return each element occurance count
l1 = [1,2,3,4,5,1,2,3,4,5,1,2,3]
Counter(l1)

Counter({1: 3, 2: 3, 3: 3, 4: 2, 5: 2})

In [6]:
# to customize the a dictionary according  to our wish we use "UserDict"

from collections import *

class CustomDict(UserDict):
    def popitem(self):
        """
        disabling the popitem from our customized dictionary
        """
        raise RuntimeError("you are not authorized to remove any data from my dictionary")

    def add_values(self):
        """
        introducing a new key into the dictionary
        """
        result = []
        for key in self:
            result.append(self[key])

        return sum(result)


cd_1 = CustomDict({"apple":34, "banana":23, "cherry":90})

cd_1.popitem()

cd_1.keys()

RuntimeError: you are not authorized to remove any data from my dictionary

In [7]:
cd_1.add_values()

147

In [9]:
class CustomList(UserList):
    def append(self, a = None):
        """
        disabling the append method
        """
        print("adding new elements are prohibited in my dictionary")

    def multitwo(self):
        """
        introducting a method that will multiply all the elements in the list
        """
        result = []
        for i in self:
            result.append(i*2)
        return result


obj = CustomList([5,2,7,9,1,45])

obj.append(90)

adding new elements are prohibited in my dictionary

In [10]:
obj

CustomList([5, 2, 7, 9, 1, 45])

In [11]:
obj.multitwo()

[10, 4, 14, 18, 2, 90]

In [14]:
# in python if we want to create basic ui we have a inbuild library called tkinter

import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")

window.mainloop()

In [16]:
import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")

Label = tk.Label(window, text = "Hello this is Evening python batch", font = ("Arial", 12))
Label.pack()

window.mainloop()

In [18]:
import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")
window.geometry("500x500") # setting the default size of the GUI

Label = tk.Label(window, text = "Hello this is Evening python batch", font = ("Arial", 12))
Label.pack()

window.mainloop()

In [23]:
import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")
window.geometry("500x500") # setting the default size of the GUI

Label = tk.Label(window, text = "Hello this is Evening python batch", font = ("Arial", 12))
Label.pack()

def fun():
    Label.config(text = "you clicked the button")


button = tk.Button(window, text = "click here", command = fun)
button.pack(pady = 10)


window.mainloop()

In [28]:
import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")
window.geometry("500x500") # setting the default size of the GUI

Label = tk.Label(window, text = "Hello this is Evening python batch", font = ("Arial", 12))
Label.pack()

def fun():
    Label.config(text = f"Hello Mr. {entry.get()}")

entry = tk.Entry(window, width = 20)
entry.pack()

button = tk.Button(window, text = "click", command = fun)
button.pack()

window.mainloop()

In [29]:
import tkinter as tk

window = tk.Tk()  # initializing a basic window

window.title("Basic Title")

window.geometry("600x600")

label = tk.Label(window, text = "This is my TK GUI message", font = ("Times New Roman", 20))
label.pack(pady = 10)

def fun():
    label.config(text = f'Hello MRs {feedback.get("1.0", "end- 1c")}')  # get(start, end)


feedback = tk.Text(window, height = 10, width = 20)   # bigger texts 
feedback.pack(pady = 6)

# insert("1.o") enter the text into the specified index
feedback.insert("1.0", "Hello, Tkinter is a basic GUI development library ")


button = tk.Button(window, text = "Submit", command = fun)
button.pack(pady = 30)



window.mainloop()

In [35]:
import tkinter as tk
from tkinter import ttk


window = tk.Tk()

label = tk.Label(window, text = "This is my TK GUI message", font = ("Times New Roman", 20))
label.pack(pady = 10)

spin =  ttk.Spinbox(window, from_=0, to= 15, wrap = True)
spin.pack()

window.mainloop()

In [38]:
import tkinter as tk
from tkinter import messagebox


window = tk.Tk()

label = tk.Label(window, text = "This is my TK GUI message", font = ("Times New Roman", 20))
label.pack(pady = 10)

def hello():
    messagebox.showinfo("python want to send message")


button  = tk.Button(window, text = "click", command = hello)
button.pack()    

window.mainloop()

In [39]:
import tkinter as tk
from tkinter import messagebox

window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

# drawing the designs 
grap = tk.Canvas(window, width = 400, height = 250, bg = "grey")
grap.pack(pady=10)
grap.create_rectangle(170,240,250,175, fill = "red")
window.mainloop()

In [40]:
import tkinter as tk
from tkinter.ttk import Combobox

window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

# creating a dropdown box
combo = Combobox(window, values = ["apple", "orange", "banana", "kiwi"])
combo.set("choose the fruit")
combo.pack(pady = 20)
window.mainloop()

In [41]:
import tkinter as tk


window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

# displaying  messages in the window body
label = tk.Label(window, text = "python based GUI development",font = ("Verdana", 20))
label.pack(pady = 20)

def check_status():
    if var.get():  # returns the current state of the box
        label.config(text = "Check box has been marked!!")
    else:
        label.config(text = "you have to agree the terms and conditions!!")


var = tk.BooleanVar()  # track the state of  the checkbutton
checkbox = tk.Checkbutton(window, text = "MarkHere", variable = var, command = check_status)
checkbox.pack(pady = 10)

label = tk.Label(window, text = "check box need to be checked", font = ("Arial", 13))
label.pack(pady = 10)
window.mainloop()

In [42]:
import tkinter as tk


window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

#display the selected option
def selected():
    label.config(text = f" Selected option is {var.get()}")


var = tk.StringVar(value = "Option not Chosen")

#creating Radion buttons
r1 = tk.Radiobutton(window, text = "Python with Django", variable= var, value = "Python with Django", command=selected)
r2 = tk.Radiobutton(window, text = "Python with DataScience", variable= var, value = "Python with DataScience", command=selected)
r3 = tk.Radiobutton(window, text = "Python with AI", variable= var, value = "Python with AI", command=selected)
r1.pack(pady=10)
r2.pack(pady = 10)
r3.pack(pady=10)

label = tk.Label(window, text = "Selected Option")
label.pack(pady = 10)
window.mainloop()

In [43]:
import tkinter as tk


window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

menu = tk.Menu(window)

menu.add_command(label = "File", command = lambda :print("you have clicked file"))
menu.add_command(label = "Edit", command = lambda :print("you have clicked Edit"))

window.config(menu = menu)

window.mainloop()

you have clicked file
you have clicked Edit

In [44]:
import tkinter as tk


window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

menu_bar = tk.Menu(window)

file_menu = tk.Menu(menu_bar, tearoff = 0)
file_menu.add_command(label = "NewFile", command = lambda : print("New File opening in progress"))
file_menu.add_command(label = "Save", command = lambda : print("File saving in progress"))
file_menu.add_command(label = "open", command = lambda : print("File opening in progress"))

menu_bar.add_cascade(label ="File", menu = file_menu)

edit_menu = tk.Menu(menu_bar, tearoff = 0)
edit_menu.add_command(label = "Copy", command = lambda : print("content copying in progress"))
edit_menu.add_command(label = "Paste", command = lambda : print("content copying in progress"))
edit_menu.add_command(label = "delete", command = lambda : print("content copying in progress"))

menu_bar.add_cascade(label ="Edit", menu = edit_menu)


window.config(menu = menu)

window.mainloop()

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing dependencies of textract: .* suffix can only be used with `==` or `!=` operators
    extract-msg (<=0.29.*)
                 ~~~~~~~^

In [2]:
from mysql import connector

connection = connector.connect(user = "root", password = "12345", host = "localhost", db = "emp")

In [3]:
from mysql import connector

connection = connector.connect(user = "root", password = "12345", host = "localhost", db = "emp")

cursor = connection.cursor()
cursor.execute("show tables")
tables = cursor.fetchall()

for table in tables:
    print(table)

('empcopy',)
('employees',)
('emptable',)
('english',)
('mobile',)
('persons',)
('tamil',)
('workers',)

In [6]:
from mysql import connector

connection = connector.connect(user = "root", password = "12345", host = "localhost", db = "emp")

cursor = connection.cursor()
cursor.execute("select * from empcopy")
tables = cursor.fetchall()

for table in tables:
    print(table)

('front end', 35000, 'sanfrancisco, us', 'washingto dc')
('backend end', 40000, 'los vegas, us', 'bleeker street dc')
('AI', 50000, 'los angeles, us', 'manhatton dc')
('ML developer', 11000, 'str1 manhattan', 'san francisco')
('data analyst', 70000, 'str1 manhattan', 'los angeles')
('AI engineer', 90000, 'baker st', 'san francisco')
('dev ops', 25000, 'chris st,11223', 'alaska')
('cloud engineer', 35000, 'evans st,11223', 'florida')
('ceo', 300000, 'manhattan st', 'newyork')
('AI engineer', 11000, 'Boston Canada', 'Embrun')
('IOT engineer', 20000, 'new jersy', 'united states')
('tutor', 9000, 'boston', 'united states')

In [5]:
from mysql import connector

connection = connector.connect(user = "root", password = "12345", host = "localhost", db = "emp")

cursor = connection.cursor()
cursor.execute("insert into empcopy values('tutor',9000, 'boston','united states')")

connection.commit()

In [ ]:
#nettwork programming--all about using python language to handle computer networking requirements:
#socket --it will provide endpoint of a two way commuincation link between  two programs runnig on the network
#server:

import socket
#creating a socket
s = socket.socket()#the connection will ipv4 or ipv6
print('socket created')
#to connect with a port we have to use bind operation  with the socket as a local host
s.bind(('localhost',9998))
#controlling how many number requests allowed for a server
s.listen(2)
print('looking for connection')
while True:
    c, addr = s.accept()
    name = c.recv(1024).decode()#from the client request we receive the message and decode
    print('connection established',addr)
    #computer can understand byte language that kind of data only we can pass through a port
    c.send(bytes('hi this is server','utf-8'))
    print('the client name', name)
    c.close()

socket created
looking for connection
connection established ('127.0.0.1', 57319)
the client name jupyter python client

In [ ]:
#client 

import socket

client_socket = socket.socket()

#binding the server address

s_address = ("localhost", 9998)

client_socket.connect(s_address)

try:
    #send data
    client_socket.sendall(b"jupyter python client")

    #receive data from the server
    response = client_socket.recv(1024)
    print("server says ", response.decode())
finally:
    client_socket.close()

In [1]:
from datetime import datetime

now =  datetime.now() # retriving the time instance 
now

datetime.datetime(2024, 12, 11, 19, 7, 2, 306853)

In [2]:
print("year", now.year)
print("month", now.month)
print("day", now.day)
print("hour", now.hour)
print("seconds", now.second)
print("minutes", now.minute)

year 2024
month 12
day 11
hour 19
seconds 2
minutes 7

In [3]:
now = datetime.now()
# formatting the time
ft = now.strftime("%y : %m : %d -- %H : %M : %S")
ft

'24 : 12 : 11 -- 19 : 10 : 40'

In [5]:
from datetime import datetime, date

date1 = date(2024,10,23)

date2 = date(2024,11,15) # subtracting one time from another time
date2-date1

datetime.timedelta(days=23)

In [6]:
from datetime import datetime, timedelta

days = timedelta(days = 90)

date2 = datetime.today() # subtracting one time from another time
date2+days

datetime.datetime(2025, 3, 11, 19, 13, 17, 309210)

In [7]:
now = datetime.now()
now.strftime("%A")

'Wednesday'

In [8]:
now = datetime.now()
now.strftime("%B")

'December'

In [9]:
now = datetime.now()
now.strftime("%a")

'Wed'

In [10]:
now = datetime.now()
now.strftime("%b")

'Dec'

In [28]:
import time
lt = time.localtime()
lt

time.struct_time(tm_year=2024, tm_mon=12, tm_mday=11, tm_hour=19, tm_min=21, tm_sec=36, tm_wday=2, tm_yday=346, tm_isdst=0)

In [29]:
f"year {lt.tm_year} month {lt.tm_mon} day {lt.tm_mday}  hour {lt.tm_hour}"

'year 2024 month 12 day 11  hour 19'

In [30]:
t1 = time.time()
t1

1733925149.8333695

In [31]:
time.ctime(t1)

'Wed Dec 11 19:22:29 2024'

In [32]:
# sleep from time library will freeze the program for certain amount of time

print("a message before sleep")
time.sleep(5)
print("a message after 5 seconds")

a message before sleep
a message after 5 seconds

In [33]:
# digital clock using the time library

import time

while True:
    lt = time.localtime()
    instance = time.strftime("%H : %M :%S", lt)
    print(instance)
    time.sleep(1)

19 : 26 :53
19 : 26 :54
19 : 26 :55
19 : 26 :56
19 : 26 :57
19 : 26 :58
19 : 26 :59
19 : 27 :00
19 : 27 :01
19 : 27 :02
19 : 27 :03
19 : 27 :04

KeyboardInterrupt:

In [35]:
# calculating the execution time of a program

# capture the starting time of the program
st = time.time()

for i in range(100000000):
    pass


et = time.time() # capturing the ending time of the program

print("total consumed time : ", et-st)

total consumed time :  7.9799230098724365

In [36]:
# capture the starting time of the program
st = time.process_time()

for i in range(100000000):
    pass


et = time.process_time() # capturing the ending time of the program

print("total consumed time : ", et-st)

total consumed time :  3.8125

In [37]:
time.gmtime()

time.struct_time(tm_year=2024, tm_mon=12, tm_mday=11, tm_hour=14, tm_min=1, tm_sec=30, tm_wday=2, tm_yday=346, tm_isdst=0)

In [41]:
utc = time.gmtime()
print(f"utc time {time.strftime('%H %M %S', utc)}")

utc time 14 03 19

In [43]:
# in python we have GIL global interpretter lock this will allow pythong interpretter
# execute one task(Thread) at a time

def hello():
    for i in range(10):
        print("hello " , i)
        time.sleep(1)


def welcome():
    for i in range(10):
        print("good evening " , i)
        time.sleep(1)

hello()
welcome()

hello  0
hello  1
hello  2
hello  3
hello  4
hello  5
hello  6
hello  7
hello  8
hello  9
good evening  0
good evening  1
good evening  2
good evening  3
good evening  4
good evening  5
good evening  6
good evening  7
good evening  8
good evening  9

In [44]:
# Threading  will help us to execute more than one thread at a time
import threading
import time


def hello():
    for i in range(10):
        print("hello " , i)
        time.sleep(1)


def welcome():
    for i in range(10):
        print("good evening " , i)
        time.sleep(1)

# hello()
# welcome()

# creatign the threads and start them at same time only
t1 = threading.Thread(target = hello)
t2 = threading.Thread(target = welcome)
t1.start()
t2.start()

hello  0
good evening  0
hello  1
good evening  1
hello  2
good evening  2
hello  3
good evening  3
hello  4
good evening  4
hello  5
good evening  5
hello  6
good evening  6
hello  7
good evening  7
hello  8
good evening  8
hello  9
good evening  9

In [47]:
import threading
import time

st = time.time()

def hello():
    for i in range(10):
        print("hello " , i)
        time.sleep(1)


def welcome():
    for i in range(10):
        print("good evening " , i)
        time.sleep(1)

# hello()
# welcome()

# creatign the threads and start them at same time only
t1 = threading.Thread(target = hello)
t2 = threading.Thread(target = welcome)


t1.start()
t2.start()
t1.join()
t2.join()
# we use thread.join() which allows the threads to complete their task then procedd with remaining flow
et =time.time()

print("total consumet time ", et-st)

hello  0
good evening  0
hello  1
good evening  1
hello  2
good evening  2
hello  3
good evening  3
hello  4
good evening  4
hello  5
good evening  5
hello  6
good evening  6
hello  7
good evening  7
hello good evening  8
 8
good evening hello  9
 9
total consumet time  10.071201086044312

In [50]:
import re
"""
regulare expression will help us to find the patterns, words, boundaries, starts with,
endswith, numbers, special characters, a word that starts with a character, what
are the boundaries of specific word...etcetra"""

txt1 = "the cat and the rate fighting for the hat on the top of a mat and the cat little fat"

# to check a string starts with use ^
result  =  re.findall("^the", txt1)
result

[]

In [51]:
txt1 = "the cat and the rate fighting for the hat on the top of a mat and the cat little fat"

# to check a string ends with use $
result  =  re.findall("fat$", txt1)
result

['fat']

In [52]:
txt1 = "the cat and the rat fighting for the hat on the top of a mat and the cat little fat"

# to find out the patterns from a string
result  =  re.findall("atx*", txt1)
result

['at', 'at', 'at', 'at', 'at', 'at']

In [53]:
txt2 = "The Rain Falls @ Spain starts 4 and continued till Next day that made big and small fallls"

result = re.findall("al{2}",txt2)
result

['all', 'all', 'all']

# Numpy -- Numerical Python
 a famous library which adopted by python, keras, tensorflow, scikit lear.. etc ml and backend frameworks of python
     numpys are  allows all the operations which we can  perform on a list  apart from that we can perform mathematical operations, it will allow us to create 1D, 2D, 3D,.... arrays as well as  we can create random numbers arrays as well we can generate datas in between boundaries based, we can perform central tendencies  based on rows and cols on a matrix, we can extract the datas based on conditions , we can reshape 1 dimensional arrays to two dimensional vice versa till 3D,  we can do boolean masking. matrix multiplication, dot product

     numpys are faster than a list because unlike lists numpy are follows the continuous memory methods as well ilists are while iterating they take every elements on a list and works on the dtype memry allocation scattered memroy storag that makes a list is 50 times slower then numpy array because numpy array follows continuous memory format and it will easily retrives the data faster then a list

In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (1.24.3)
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing dependencies of textract: .* suffix can only be used with `==` or `!=` operators
    extract-msg (<=0.29.*)
                 ~~~~~~~^

In [2]:
import numpy as np
np.__version__

'1.24.3'

In [3]:
arr1 = np.array([3,2,6,7]) # a one dimensional array is a normal array without nested
arr1

array([3, 2, 6, 7])

In [4]:
# creating a two dimensional array

arr2 = np.array([[4,2,3],[5,1,8]])
arr2

array([[4, 2, 3],
       [5, 1, 8]])

In [5]:
arr1.ndim

1

In [6]:
arr2.ndim

2

In [7]:
arr2.shape

(2, 3)

In [8]:
arr2.dtype

dtype('int32')

In [9]:
arr2 = np.array([[4,2,3],[5,1,8]])
arr2

array([[4, 2, 3],
       [5, 1, 8]])

In [10]:
# how we can retrive the data from a2 Dimensional array
arr2[1,1]

1

In [11]:
arr2[1,2]

8

In [12]:
arr2[:,2] # retriving the entire column data

array([3, 8])

In [13]:
arr2[1,:] # retriving all the datas from the rows

array([5, 1, 8])

In [14]:
import numpy as np

arr1 = np.zeros(3) # generating a 1 dimensional array filled with zeros 3 times
arr1

array([0., 0., 0.])

In [16]:
arr2 = np.zeros((3,3))
arr2

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [17]:
# 3D dimensional array -- a array that contains n number of 2 Dimensional array

arr3 = np.zeros((2, 3,3))

In [18]:
arr3

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [19]:
arr4 = np.zeros((2,2,2,2))
arr4

array([[[[0., 0.],
         [0., 0.]],

        [[0., 0.],
         [0., 0.]]],


       [[[0., 0.],
         [0., 0.]],

        [[0., 0.],
         [0., 0.]]]])

In [20]:
arr1 = np.ones((3,4))
arr1

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [21]:
arr2 = np.full((2,2),7)
arr2

array([[7, 7],
       [7, 7]])

In [22]:
arr3 = np.full_like(arr2,5)
arr3

array([[5, 5],
       [5, 5]])

In [23]:
# genrating the random datas using the numpy 

#random.rand -- will generate float datas within the boundary of 0 and 1

arr1 = np.random.rand(2,3)
arr1

array([[0.88251732, 0.90038763, 0.42482849],
       [0.97603925, 0.87831355, 0.11893567]])

In [24]:
# to generat the random integers we can use random.randint

arr2 = np.random.randint(5,25, size = (3,3))
arr2

array([[21, 18, 23],
       [12, 16, 15],
       [20,  8, 15]])

In [25]:
# how to modify the arrays data
arr2

array([[21, 18, 23],
       [12, 16, 15],
       [20,  8, 15]])

In [26]:
arr2[1,2] = 67
arr2

array([[21, 18, 23],
       [12, 16, 67],
       [20,  8, 15]])

In [27]:
arr2[2,:] = [88,99,77]
arr2

array([[21, 18, 23],
       [12, 16, 67],
       [88, 99, 77]])

In [28]:
arr2 = np.random.randint(5,25, size = (2,3,3))
arr2

array([[[14, 20,  9],
        [ 5, 21, 12],
        [20, 20,  6]],

       [[ 7, 18,  5],
        [ 5, 23,  7],
        [14,  9,  9]]])

In [29]:
arr2[1,1,:] = [33,44,55]
arr2

array([[[14, 20,  9],
        [ 5, 21, 12],
        [20, 20,  6]],

       [[ 7, 18,  5],
        [33, 44, 55],
        [14,  9,  9]]])

In [30]:
# merging the arrays 

arr1 = [[14, 20,  9],
        [ 5, 21, 12],
        [20, 20,  6]]


arr2 = [[ 7, 18,  5],
        [33, 44, 55],
        [14,  9,  9]]

# if we want to merger two 2D arrays in a single 2d array we use vstack from np

arr3 = np.vstack([arr1,arr2])
arr3

array([[14, 20,  9],
       [ 5, 21, 12],
       [20, 20,  6],
       [ 7, 18,  5],
       [33, 44, 55],
       [14,  9,  9]])

In [31]:
arr3 = np.vstack([[arr1],[arr2]])
arr3

array([[[14, 20,  9],
        [ 5, 21, 12],
        [20, 20,  6]],

       [[ 7, 18,  5],
        [33, 44, 55],
        [14,  9,  9]]])

In [32]:
# to horizontally we can merge only 2D not 3d
arr3 = np.hstack([arr1,arr2])
arr3

array([[14, 20,  9,  7, 18,  5],
       [ 5, 21, 12, 33, 44, 55],
       [20, 20,  6, 14,  9,  9]])

In [34]:
arr4 = arr3.reshape(6,3)
arr4

array([[14, 20,  9],
       [ 7, 18,  5],
       [ 5, 21, 12],
       [33, 44, 55],
       [20, 20,  6],
       [14,  9,  9]])

In [35]:
arr5 = arr4.reshape(2,3,3)
arr5

array([[[14, 20,  9],
        [ 7, 18,  5],
        [ 5, 21, 12]],

       [[33, 44, 55],
        [20, 20,  6],
        [14,  9,  9]]])

In [36]:
arr5 = arr4.reshape(3,2,3)
arr5

array([[[14, 20,  9],
        [ 7, 18,  5]],

       [[ 5, 21, 12],
        [33, 44, 55]],

       [[20, 20,  6],
        [14,  9,  9]]])

In [37]:
arr4

array([[14, 20,  9],
       [ 7, 18,  5],
       [ 5, 21, 12],
       [33, 44, 55],
       [20, 20,  6],
       [14,  9,  9]])

In [38]:
arr6 = arr4.reshape(-1) # conveting a array into one dimensional
arr6

array([14, 20,  9,  7, 18,  5,  5, 21, 12, 33, 44, 55, 20, 20,  6, 14,  9,
        9])

In [40]:
# statistics

arr1 = np.random.randint(3,18,size = (2,3))
arr1

array([[13, 12,  8],
       [ 3, 11,  4]])

In [41]:
arr1.min()

3

In [42]:
arr1.max()

13

In [43]:
arr1.sum()

51

In [44]:
arr1.min(axis = 0)

array([ 3, 11,  4])

In [45]:
arr1.min(axis = 1)

array([8, 3])

In [46]:
arr1.max(axis = 0)

array([13, 12,  8])

In [47]:
arr1.max(axis = 1)

array([13, 11])

In [48]:
arr1.sum(axis = 0)

array([16, 23, 12])

In [49]:
arr1.sum(axis = 1)

array([33, 18])

In [50]:
# genrating the data from a text file
# when we generate a data from a file it will generate all of them as float values

arr1 = np.genfromtxt("data_1.txt", delimiter = ",")
arr1

array([[34., 23.,  6.,  7., 12., 89.],
       [90., 34., 56., 13., 45., 76.],
       [ 2.,  4.,  9., 98., 43., 63.]])

In [51]:
arr2 = arr1.astype(int)
arr2

array([[34, 23,  6,  7, 12, 89],
       [90, 34, 56, 13, 45, 76],
       [ 2,  4,  9, 98, 43, 63]])

In [52]:
# boolean masking based on the condition what we gave it will true a array of true, false
arr3 = arr2>30
arr3

array([[ True, False, False, False, False,  True],
       [ True,  True,  True, False,  True,  True],
       [False, False, False,  True,  True,  True]])

In [53]:
arr2[arr3]

array([34, 89, 90, 34, 56, 45, 76, 98, 43, 63])

In [54]:
arr2[arr2>40]

array([89, 90, 56, 45, 76, 98, 43, 63])

In [1]:
# arange, linspace, dot, matmul

import numpy as np

arr1 = np.arange(5,20,3)
arr1

array([ 5,  8, 11, 14, 17])

In [2]:
arr2 = np.linspace(2,12,5)
arr2

array([ 2. ,  4.5,  7. ,  9.5, 12. ])

In [3]:
arr1 = np.array(
    [
        [1,2,3],
        [4,5,6]
    ]
)

arr2 = np.array(
    [
        [1,3],
        [2,4],
        [5,6]
    ]
)

print(arr1)
print(arr2)

[[1 2 3]
 [4 5 6]]
[[1 3]
 [2 4]
 [5 6]]

In [4]:
np.matmul(arr1,arr2)

array([[20, 29],
       [44, 68]])

In [5]:
arr1 = np.array([4,2,8])
arr2 = np.array([3,5,7])
np.dot(arr1,arr2)

78

# Pandas - paneled datas
    pandas are very famous python library for handling the datas
    => reading the different types of files and get the data into python data frame
    => creating the different types of files from python data frame such as (csv, excel, json, parquet, ...etc)
    => creating series, dataframes to handle the file datas
    => handling the noisy datas such as null datas, duplicates data's, wrong format datas
    => comparison, creating new columns, getting info about the data, modify the existing data, central tendency finding, row based filter, column based filter, joining one csv dataframe to another csv dataframes (inner, left, right, outer)

In [6]:
pip install pandas

Requirement already satisfied: pandas in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing dependencies of textract: .* suffix can only be used with `==` or `!=` operators
    extract-msg (<=0.29.*)
                 ~~~~~~~^

In [8]:
import pandas as pd
pd.__version__

'2.0.1'

In [10]:
# pandas series are one dimensional arrays which have only one column with index position as row names

l1 = [5,2,9,3,1]

s1 = pd.Series(l1)
s1

0    5
1    2
2    9
3    3
4    1
dtype: int64

In [11]:
s1.shape

(5,)

In [13]:
s1.min()

1

In [14]:
s1.sum()

20

In [17]:
s1[2]

9

In [18]:
d1 = {"apple":34, "orange":45, "banana":12}

# when we convert a dictionary as a series the keys will appear as row name

s2 = pd.Series(d1)
s2

apple     34
orange    45
banana    12
dtype: int64

In [20]:
l1 = [5,2,9,3,1]

s1 = pd.Series(l1, index = ("a","b", "c","d", "e")) # changing the labels of the rows
s1

a    5
b    2
c    9
d    3
e    1
dtype: int64

In [21]:
s1["c"]

9

In [22]:
s1["a", "c", "e"]

KeyError: 'key of type tuple not found and not a MultiIndex'

In [23]:
# dataframes -- are rows and columns table format 

d2 = {
    "Jobs" : ["backend developer", "AI engineer", "data analyst"],
    "City" : ["Ney York", "San francisco", "washington dc"],
    "Salary" : [40000,50000,30000]
}

df = pd.DataFrame(d2)
df

                Jobs           City  Salary
0  backend developer       Ney York   40000
1        AI engineer  San francisco   50000
2       data analyst  washington dc   30000

In [24]:
df.loc[1] # fetching row 1

Jobs        AI engineer
City      San francisco
Salary            50000
Name: 1, dtype: object

In [25]:
df.loc[1][2] # fetching the specific data from the dataframe

50000

In [26]:
df["City"]  # fethcing the column

0         Ney York
1    San francisco
2    washington dc
Name: City, dtype: object

In [28]:
df["City"][2] # retriving the specific data from coloumn

'washington dc'

In [30]:
d2 = {
    "Jobs" : ["backend developer", "AI engineer", "data analyst"],
    "City" : ["Ney York", "San francisco", "washington dc"],
    "Salary" : [40000,50000,30000]
}

df = pd.DataFrame(d2, index = ("record1", "record2", "record3"))
df

                      Jobs           City  Salary
record1  backend developer       Ney York   40000
record2        AI engineer  San francisco   50000
record3       data analyst  washington dc   30000

In [31]:
# reading the files using pandas

#csv file

df = pd.read_csv("employee.csv")
df

     name  salary  exp      city
0    john  3000.0  4.0  losvegas
1     doe  4000.0  5.0        dc
2  robert  8000.0  6.0     paris
3   chris  9000.0  7.0   newyork
4     NaN  3000.0  NaN  losvegas
5    john  3000.0  4.0  losvegas
6   evans     NaN  4.0  losvegas
7     tom  3000.0  4.0       NaN

In [34]:
# reading the json file
df = pd.read_json("employee.json")
df

    name           city
0  user1        newyork
1  user2      los vegas
2  user3  san francisco

In [36]:
# to enable python to read any excel file we use xlrd -library
pip install xlrd

Requirement already satisfied: xlrd in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing dependencies of textract: .* suffix can only be used with `==` or `!=` operators
    extract-msg (<=0.29.*)
                 ~~~~~~~^

In [37]:
# reading the excel file

df = pd.read_excel("file_example_XLS_50.xlsx")
df

     0 First Name   Last Name  Gender        Country  Age        Date    Id
0    1      Dulce       Abril  Female  United States   32  15/10/2017  1562
1    2       Mara   Hashimoto  Female  Great Britain   25  16/08/2016  1582
2    3     Philip        Gent    Male         France   36  21/05/2015  2587
3    4   Kathleen      Hanner  Female  United States   25  15/10/2017  3549
4    5    Nereida     Magwood  Female  United States   58  16/08/2016  2468
5    6     Gaston       Brumm    Male  United States   24  21/05/2015  2554
6    7       Etta        Hurn  Female  Great Britain   56  15/10/2017  3598
7    8    Earlean      Melgar  Female  United States   27  16/08/2016  2456
8    9   Vincenza     Weiland  Female  United States   40  21/05/2015  6548
9   10     Fallon     Winward  Female  Great Britain   28  16/08/2016  5486
10  11    Arcelia      Bouska  Female  Great Britain   39  21/05/2015  1258
11  12   Franklyn      Unknow    Male         France   38  15/10/2017  2579
12  13    Sherron    Ascencio  Female  Great Britain   32  16/08/2016  3256
13  14     Marcel   Zabriskie    Male  Great Britain   26  21/05/2015  2587
14  15       Kina    Hazelton  Female  Great Britain   31  16/08/2016  3259
15  16   Shavonne         Pia  Female         France   24  21/05/2015  1546
16  17     Shavon      Benito  Female         France   39  15/10/2017  3579
17  18   Lauralee     Perrine  Female  Great Britain   28  16/08/2016  6597
18  19     Loreta      Curren  Female         France   26  21/05/2015  9654
19  20     Teresa      Strawn  Female         France   46  21/05/2015  3569
20  21    Belinda     Partain  Female  United States   37  15/10/2017  2564
21  22      Holly        Eudy  Female  United States   52  16/08/2016  8561
22  23       Many      Cuccia  Female  Great Britain   46  21/05/2015  5489
23  24     Libbie       Dalby  Female         France   42  21/05/2015  5489
24  25     Lester     Prothro    Male         France   21  15/10/2017  6574
25  26     Marvel        Hail  Female  Great Britain   28  16/08/2016  5555
26  27    Angelyn        Vong  Female  United States   29  21/05/2015  6125
27  28  Francesca   Beaudreau  Female         France   23  15/10/2017  5412
28  29      Garth       Gangi    Male  United States   41  16/08/2016  3256
29  30      Carla    Trumbull  Female  Great Britain   28  21/05/2015  3264
30  31       Veta       Muntz  Female  Great Britain   37  15/10/2017  4569
31  32     Stasia      Becker  Female  Great Britain   34  16/08/2016  7521
32  33       Jona     Grindle  Female  Great Britain   26  21/05/2015  6458
33  34      Judie    Claywell  Female         France   35  16/08/2016  7569
34  35     Dewitt      Borger    Male  United States   36  21/05/2015  8514
35  36       Nena      Hacker  Female  United States   29  15/10/2017  8563
36  37     Kelsie     Wachtel  Female         France   27  16/08/2016  8642
37  38        Sau        Pfau  Female  United States   25  21/05/2015  9536
38  39    Shanice   Mccrystal  Female  United States   36  21/05/2015  2567
39  40      Chase      Karner    Male  United States   37  15/10/2017  2154
40  41     Tommie   Underdahl    Male  United States   26  16/08/2016  3265
41  42     Dorcas      Darity  Female  United States   37  21/05/2015  8765
42  43      Angel       Sanor    Male         France   24  15/10/2017  3259
43  44  Willodean        Harn  Female  United States   39  16/08/2016  3567
44  45     Weston     Martina    Male  United States   26  21/05/2015  6540
45  46       Roma  Lafollette  Female  United States   34  15/10/2017  2654
46  47     Felisa        Cail  Female  United States   28  16/08/2016  6525
47  48   Demetria       Abbey  Female  United States   32  21/05/2015  3265
48  49     Jeromy        Danz    Male  United States   39  15/10/2017  3265
49  50   Rasheeda      Alkire  Female  United States   29  16/08/2016  6125

In [38]:
df.head()  # head() without args will return first 5 records of the dataframe

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In [39]:
df.head(8) # fetch first specific number of records

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456

In [40]:
df.tail(3) # returns last 3 records from the df

     0 First Name Last Name  Gender        Country  Age        Date    Id
47  48   Demetria     Abbey  Female  United States   32  21/05/2015  3265
48  49     Jeromy      Danz    Male  United States   39  15/10/2017  3265
49  50   Rasheeda    Alkire  Female  United States   29  16/08/2016  6125

In [41]:
df.shape

(50, 8)

In [42]:
df.columns

Index([0, 'First Name', 'Last Name', 'Gender', 'Country', 'Age', 'Date', 'Id'], dtype='object')

In [43]:
# handling the datas in a dataframe

df = pd.read_csv("employee.csv")
df

     name  salary  exp      city
0    john  3000.0  4.0  losvegas
1     doe  4000.0  5.0        dc
2  robert  8000.0  6.0     paris
3   chris  9000.0  7.0   newyork
4     NaN  3000.0  NaN  losvegas
5    john  3000.0  4.0  losvegas
6   evans     NaN  4.0  losvegas
7     tom  3000.0  4.0       NaN

In [44]:
# to remove the null record rows we use dropna()

df1 = df.dropna() 
df1

     name  salary  exp      city
0    john  3000.0  4.0  losvegas
1     doe  4000.0  5.0        dc
2  robert  8000.0  6.0     paris
3   chris  9000.0  7.0   newyork
5    john  3000.0  4.0  losvegas

In [45]:
df = pd.read_csv("employee.csv")
df.dropna(inplace = True)  # changing the current dataframe itself
df

     name  salary  exp      city
0    john  3000.0  4.0  losvegas
1     doe  4000.0  5.0        dc
2  robert  8000.0  6.0     paris
3   chris  9000.0  7.0   newyork
5    john  3000.0  4.0  losvegas

In [46]:
# using fillna("replace value")  replacing the null records from all over the dataframe

df = pd.read_csv("employee.csv")
df.fillna("python",inplace = True)
df

     name  salary     exp      city
0    john  3000.0     4.0  losvegas
1     doe  4000.0     5.0        dc
2  robert  8000.0     6.0     paris
3   chris  9000.0     7.0   newyork
4  python  3000.0  python  losvegas
5    john  3000.0     4.0  losvegas
6   evans  python     4.0  losvegas
7     tom  3000.0     4.0    python

In [48]:
# replace the null values on specific cols

df = pd.read_csv("employee.csv")
df["name"].fillna("python",inplace = True)
df

     name  salary  exp      city
0    john  3000.0  4.0  losvegas
1     doe  4000.0  5.0        dc
2  robert  8000.0  6.0     paris
3   chris  9000.0  7.0   newyork
4  python  3000.0  NaN  losvegas
5    john  3000.0  4.0  losvegas
6   evans     NaN  4.0  losvegas
7     tom  3000.0  4.0       NaN

In [49]:
df = pd.read_csv("employee.csv")
df.dropna(subset = "exp", inplace = True)
df

     name  salary  exp      city
0    john  3000.0  4.0  losvegas
1     doe  4000.0  5.0        dc
2  robert  8000.0  6.0     paris
3   chris  9000.0  7.0   newyork
5    john  3000.0  4.0  losvegas
6   evans     NaN  4.0  losvegas
7     tom  3000.0  4.0       NaN

In [50]:
df = pd.read_csv("employee.csv")
df.info() # will return the number of rows and cols and types of the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    7 non-null      object
 1   salary  7 non-null      float64
 2   exp     7 non-null      float64
 3   city    7 non-null      object
dtypes: float64(2), object(2)
memory usage: 388.0+ bytes

In [51]:
df = pd.read_csv("employee.csv")

df.describe()  # will return the central tendency of your dataframe will work on integers cols only

            salary       exp
count     7.000000  7.000000
mean   4714.285714  4.857143
std    2627.691364  1.214986
min    3000.000000  4.000000
25%    3000.000000  4.000000
50%    3000.000000  4.000000
75%    6000.000000  5.500000
max    9000.000000  7.000000

In [52]:
# replacing the mean value for null

df = pd.read_csv("employee.csv")

df["salary"].fillna(df["salary"].mean(), inplace = True)
df

     name       salary  exp      city
0    john  3000.000000  4.0  losvegas
1     doe  4000.000000  5.0        dc
2  robert  8000.000000  6.0     paris
3   chris  9000.000000  7.0   newyork
4     NaN  3000.000000  NaN  losvegas
5    john  3000.000000  4.0  losvegas
6   evans  4714.285714  4.0  losvegas
7     tom  3000.000000  4.0       NaN

In [53]:
df = pd.read_csv("employee.csv")

print(df[df["salary"]>4000])

     name  salary  exp     city
2  robert  8000.0  6.0    paris
3   chris  9000.0  7.0  newyork

In [54]:
df["hike"] = df["salary"]+2000  # creating a new col
df

     name  salary  exp      city     hike
0    john  3000.0  4.0  losvegas   5000.0
1     doe  4000.0  5.0        dc   6000.0
2  robert  8000.0  6.0     paris  10000.0
3   chris  9000.0  7.0   newyork  11000.0
4     NaN  3000.0  NaN  losvegas   5000.0
5    john  3000.0  4.0  losvegas   5000.0
6   evans     NaN  4.0  losvegas      NaN
7     tom  3000.0  4.0       NaN   5000.0

In [57]:
df = pd.read_csv("employee.csv")

print(df[(df["salary"]>4000) & (df["exp"]<7)])  # multiple conditions

     name  salary  exp    city
2  robert  8000.0  6.0   paris

In [58]:
df = pd.read_csv("employee.csv")

df.loc[:4] # multiple conditions

     name  salary  exp      city
0    john  3000.0  4.0  losvegas
1     doe  4000.0  5.0        dc
2  robert  8000.0  6.0     paris
3   chris  9000.0  7.0   newyork
4     NaN  3000.0  NaN  losvegas

In [59]:
df = pd.read_csv("employee.csv")

df.loc[:4, ("name", "city")]

     name      city
0    john  losvegas
1     doe        dc
2  robert     paris
3   chris   newyork
4     NaN  losvegas

In [60]:
df = pd.read_csv("employee.csv")

df.loc[:2, "city"] = "unnamed city"
df

     name  salary  exp          city
0    john  3000.0  4.0  unnamed city
1     doe  4000.0  5.0  unnamed city
2  robert  8000.0  6.0  unnamed city
3   chris  9000.0  7.0       newyork
4     NaN  3000.0  NaN      losvegas
5    john  3000.0  4.0      losvegas
6   evans     NaN  4.0      losvegas
7     tom  3000.0  4.0           NaN

In [62]:
df[["name", "exp"]]

     name  exp
0    john  4.0
1     doe  5.0
2  robert  6.0
3   chris  7.0
4     NaN  NaN
5    john  4.0
6   evans  4.0
7     tom  4.0

In [63]:
def percent(val):
    result = (val/20000)*100
    return result


df = pd.read_csv("employee.csv")

df["percent"] = df["salary"].apply(percent)
df

     name  salary  exp      city  percent
0    john  3000.0  4.0  losvegas     15.0
1     doe  4000.0  5.0        dc     20.0
2  robert  8000.0  6.0     paris     40.0
3   chris  9000.0  7.0   newyork     45.0
4     NaN  3000.0  NaN  losvegas     15.0
5    john  3000.0  4.0  losvegas     15.0
6   evans     NaN  4.0  losvegas      NaN
7     tom  3000.0  4.0       NaN     15.0

In [66]:
df = pd.read_csv("employee.csv")

df[~(df["salary"]<5000)]  # negate operator

     name  salary  exp      city
2  robert  8000.0  6.0     paris
3   chris  9000.0  7.0   newyork
6   evans     NaN  4.0  losvegas